@use '../base';

.lh{
	/*----====lh about hero section====----*/
	&_about{
		&_hero{
			@apply w-full mt-[40px] relative overflow-hidden bg-[url('/assets/about-hero-banner.jpg')] bg-cover bg-no-repeat;
			background-position-y: 60px;
			&.lh_bg_none {
				@apply bg-none;
			}

			&__text_area {
				@apply w-full pb-[118px] lg:w-[67%] overflow-hidden;
			}
			.lh_about_hero_heading {
				@apply text-[32px] leading-normal font-medium text-black pb-[10px] md:text-[50px] lg:leading-[75px];
			}
			.lh_about_hero_para {
				@apply text-[20px] text-lh-black-light font-normal leading-[30px];
				p{
					@apply text-[20px] text-lh-black-light font-normal leading-[30px];
				}
			}

			/* --banner justify image--
			&__img_area{
				@apply w-full flex justify-between flex-wrap items-start mt-[70px] lg:flex-nowrap;

				&.gap_top_none {
					@apply mt-0;
				}
		
				img {
					@apply w-full sm:w-[45%] lg:w-[45%] xl:w-auto;
		
					&.mob_mb_gap {
						@apply pb-[30px] lg:pb-0;
					}
				}
			} --*/
			/*----====what we do section====----*/
			.lh_what_we_do {
				@apply w-full items-start flex flex-wrap gap-x-0 lg:gap-x-[40px] xl:gap-x-[68px] lg:flex-nowrap;

				&__img{
					@apply w-[80%] basis-[80%] mx-auto mb-[40px] lg:mb-0 lg:w-[47%] lg:basis-[47%] xl:w-[47%] xl:basis-[47%];
				}

				.lh_what_we_do_icon{
					@apply w-full object-cover;
				}
		
				&__content {
					@apply w-full basis-full lg:basis-[50%] lg:w-[50%] xl:basis-[53%] xl:w-[53%] pr-0 xl:pr-[4%];

					&__heading{
						@apply  text-[40px] leading-normal pb-[20px] font-medium text-lh-black text-left;
					}
		
					&__para {
						@apply text-[22px] sm:text-[26px] leading-[37px] text-lh-black font-normal;
					}
		
					.lh_about_team__btn {
						@apply text-[16px] px-[45px] py-[18px] w-fit bg-lh-blue-400 flex items-center gap-x-[9px] text-lh-white font-bold ease-in duration-300 mt-[30px] rounded-[50px];
		
						&:hover {
							@apply gap-[20px];
						}
		
						svg {
							@apply fill-lh-white ease-in duration-300;
						}
					}
				}
		
				.lh_what_we_do_sub_content {
					@apply w-full flex flex-wrap flex-col sm:flex-nowrap lg:flex-nowrap mt-[30px] gap-y-[35px];
		
					.lh_what_we_do_inner {
						@apply w-full;

						&__para {
							@apply text-[16px] leading-[24px] text-lh-black-light font-normal;
						}
					}
				}
			}
		
			.lh_about_btn {
				@apply mt-[30px] w-fit leading-[24px];
			}
			.lh_about_team__btn {
				@apply mt-[50px] w-fit leading-[24px];
			}

			.lh_join_team{
				@apply gap-x-[84px];
			}
			
		}
	}

	/*----====lh core value section====----*/
	&_core{
		&_value{
			&_section{
				@apply w-full pt-[90px] pb-[60px] overflow-hidden bg-lh-dark-blue-500;

				.core_value_heading_area{
					@apply w-full lg:w-9/12;
				}
				.core_value_heading {
					@apply text-left text-[20px] md:text-[40px] leading-normal font-medium lg:leading-[60px] pb-[20px];
				}
				.core_value_para {
					@apply text-[20px] leading-[30px] text-lh-black-light;
				}
			}
		}
	}

	/*----====lh about gallery section====---
	&_about{
		&_gallery{
			&_block{
				@apply max-w-full overflow-hidden;

				img {
					@apply w-full object-cover h-auto lg:h-[637px] overflow-hidden;
				}
			}
		}
	} -*/

	/*----====lh about speach section====---
	&_about{
		&_co{
			&_spaech{
				@apply w-full mt-[90px] mb-[90px] overflow-hidden;

				.lh_about_co_spaech_content{
					@apply text-center;

					&__info {
						@apply text-[20px] leading-normal lg:text-[33px] text-lh-black-100 lg:leading-[50px] font-medium;

						br {
							@apply hidden lg:block;
						}
					}
					&__author {
						@apply text-[20px] leading-[30px] uppercase font-normal text-lh-black pt-[45px];
					}
				}
			}
		}
	} --*/

	/*----====lh about team section====--
	&_about{
		&_team{
			@apply w-full relative pt-[79px] pb-[90px] before:content-[''] before:block before:w-9/12 before:mx-auto before:left-[50%] before:translate-x-[-50%] before:border before:border-t-lh-border-top before:opacity-40 before:top-0 before:absolute;

			.lh_about_team_title_area{
				@apply w-full;
			}
			.lh_about_team_heading {
				@apply text-[30px] leading-normal lg:text-[40px] lg:leading-[60px] text-lh-black font-medium text-center pb-[16px];
			}
			.lh_about_team_para {
				@apply text-[20px] leading-[30px] text-lh-black-light font-normal text-center;
				br {
					@apply hidden lg:block;
				}
			}

			.lh_team_slider{
				@apply w-full h-auto mx-auto relative overflow-hidden mt-[123px];
			}
			.slide-track{
				@apply flex flex-wrap justify-start sm:justify-between md:justify-start lg:justify-center gap-x-0 lg:gap-x-[190px] gap-y-[26px];
			}
			.slide {
				@apply w-full sm:w-[250px] h-auto flex flex-col text-center;

				img {
					@apply w-full h-auto mb-[30px] rounded-full;
				}
			}
			.lh_team_author {
				@apply text-[20px] leading-[30px] text-center text-lh-black font-semibold;
			}
			.lh_team_author_post {
				@apply text-[16px] leading-[30px] font-normal text-lh-black;
			}
		}
	} --*/

	/*----====about quote section====----*/
	&_about{
		&_quote{
			@apply w-full bg-lh-dark-blue-900 h-[1000px] md:h-[950px] lg:h-auto relative overflow-hidden;

			.container{
				@apply flex flex-wrap lg:flex-nowrap items-center;
			}

			&__content{
				@apply w-full lg:w-1/2 flex flex-col mt-[100px] lg:pt-0 gap-y-[60px] lg:gap-y-[106px] xl:gap-y-[169px];

				&__title{
					@apply text-[30px] leading-[30px] font-bold text-[#07B8FF] uppercase;
				}
				&__sub_para{
					@apply text-[16px] leading-[30px] font-normal text-white uppercase;
				}

				.lh_about_quote_area{
					.lh_about_quote_data{
						@apply text-[35px] lg:text-[53px] leading-normal text-white font-light mb-[15px] lg:mb-[203px] xl:mb-[143px];

						br{
							@apply hidden lg:block;
						}
					}
				}
			}

			&__img{
				@apply w-full lg:w-1/2 mt-[37px] ;

				.lh_about_quote_img{
					@apply bg-cover z-[9] absolute w-[466px] md:w-[466px] md:bottom-0 lg:w-[669px] lg:top-0;
				}

				.about_quote_icon{
					@apply absolute bg-cover right-0 lg:right-[-3%] top-[40%] sm:top-[25%] md:top-[20%] lg:top-[5%] w-full lg:w-[680px] xl:w-[730px] 2xl:w-[730px] h-auto z-[1];
				}
			}
		}
	}

	/*----====about lending operations section====----*/
	&_about{
		&_lending{
			&_operations{
				@apply w-full py-[90px];

				.container{
					@apply gap-x-[60px] xl:gap-x-[123px];
				}

				&_content{
					@apply order-2 lg:order-1;
				}
				&_img{
					@apply w-full order-1 mb-[40px] lg:mb-0 lg:order-2;
				}

				.about_lending_operations_heading{
					@apply text-[30px] md:text-[40px] leading-normal font-medium text-black pb-[20px];
				}
				.about_lending_operations_para{
					@apply text-[16px] leading-normal font-normal text-lh-black-light;

					p{
						@apply first:pb-[20px] last:text-lh-black pb-[40px];
					}
				}
				.about_lending_operations_para_dark{
					@apply text-[16px] leading-normal font-normal text-lh-black pb-[40px];
				}
			}
		}
	}

    /*----====about gredient preset====----*/
	&_bg{
		&_b{
			&_gradient{
				background: linear-gradient(180deg, #ffffff 0%, #e5f8ff 100.56%);
			}
		}
	}
}