@use '../base';
.lh{
	&_blog{
		/*----====Blog banner Section====----*/
		&_banner{
			@apply w-full mt-[38px] mb-[88px] overflow-hidden;

			.container {
				@apply flex justify-between gap-x-[76px] flex-wrap lg:flex-nowrap xl:flex-nowrap;
			}

			&__content_area{
				@apply sm:basis-full order-2 lg:order-1 lg:basis-full xl:basis-1/2;
			}
			&_title {
				@apply text-[32px] leading-normal text-lh-blue-dark xl:text-[50px] lg:leading-[75px] font-medium pb-[27px];
			}
			&_sub_catagory {
				@include base.blog_catagories;
	
				span {
					@apply px-[11px] border-r-[1px] leading-[14px] font-medium border-solid border-lh-white-50 first:pl-0 last:border-0;
				}
			}
			&_heading {
				@apply text-[30px] leading-normal lg:text-[40px] lg:leading-[60px] text-lh-black font-normal;
			}
			&_post_date {
				@apply text-[16px] leading-[24px] font-semibold text-lh-black-light pt-[20px];
			}
			&_btn_group {
				@apply w-full flex flex-wrap gap-x-[14px] gap-y-[20px] mt-[40px];
			}

			&__image {
				@apply mb-[40px] lg:mb-0 basis-full mt-0 md:basis-full lg:basis-[99%] xl:basis-1/2 order-1 lg:order-2;
		
				img {
					@apply w-full h-full object-cover rounded-[15px];
				}
			}
		}

       /*----====Blog Post Section====----*/
		&_post{
			&_section{
				@apply w-full mt-[90px] mb-[52px];

				&__inner_area{
					@apply w-full;

					&__form{
						@apply w-full flex justify-between flex-col lg:flex-row gap-y-[30px];

						&__left {
							@apply w-full flex items-center;

							label{
								@apply text-[14px] leading-normal text-lh-black mr-[15px];
							}
							.css-b62m3t-container{
								@apply w-full bg-lh-white lg:w-[220px];

								#react-select-3-listbox{
									@apply bg-lh-white text-lh-black-light text-[14px] leading-[37px] font-normal border-none outline-none mt-[10px] h-auto py-[12px];

									div{
										@apply bg-none last:pb-0 text-lh-black-light;
										background: transparent !important;
										padding: 0 !important;
										padding-left: 10px !important;
										cursor: pointer;
									}
							   }
								
							}

							.css-13cymwt-control{
								@apply rounded-[40px] px-[20px] text-[16px] leading-[24px] pt-[8px] pb-[4px] text-lh-black-light font-medium border border-lh-blue-light outline-none;

							}
							.css-t3ipsp-control{
								@apply rounded-[40px] px-[20px] text-[16px] leading-[24px] pt-[8px] pb-[4px] text-lh-black-light font-medium border border-lh-blue-light outline-none;
							}
							.css-1u9des2-indicatorSeparator{
								@apply hidden;
							}
							.css-t3ipsp-control{
								@apply rounded-[40px] px-[20px] text-[16px] leading-[24px] font-medium border border-lh-blue-light outline-none;
							}
							path{
								@apply fill-lh-black;
							}
						}

						.lh_blog_form_dropdown {
							@apply mt-[25px] w-full lg:mt-0 bg-lh-white lg:w-[220px];
							@include base.lh_blog_form_dropdown;
		
							
						}

						&__right {
							@apply flex flex-wrap lg:flex-nowrap lg:flex-row gap-y-[30px];
			
							&__toggle {
								@apply w-full lg:w-[244px] px-[7px] py-[7px] h-[50px] bg-lh-light-blue-200 rounded-[50px] flex relative;
			
								label {
									@apply transition duration-300 ease-out;
								}
			
								input[type='radio'] {
									@apply hidden transition duration-300 ease-out;
			
									&:checked {
										& + label {
											@apply text-lh-blue-400;
										}
									}
								}
							}
						}

						.lh_blog_search_area {
							@apply w-[100%] lg:w-[349px] lg:mr-[15px] relative;
		
						}

						input[id='toggle-1'] {
							&:checked {
								& ~ .toggle_bg {
									transform: translateX(0);
								}
							}
						}
	
						input[id='toggle-2'] {
							&:checked {
								& ~ .toggle_bg {
									@apply translate-x-[92%] sm:translate-x-[96%] lg:translate-x-[100%];
								}
							}
						}
	
						.toggle_tab {
							@apply w-full lg:w-fit flex items-center justify-center text-[13px] leading-normal font-bold text-lh-blue-300 lg:flex-row pl-[33px] pr-[32px] py-[8px] cursor-pointer rounded-[50px] z-10;
						}
	
						.toggle_bg {
							@apply w-[50%] pl-[33px] pr-[32px] py-[8px] cursor-pointer rounded-[50px] bg-lh-white absolute flex lg:w-[115px] h-[36px] top-[7px] transition duration-300 ease-out;
							border-radius: 99px; // just a high number to create pill effect
							box-shadow: 0px 1px 14px #d2e3ff;
						}
					}
				}
			}
		}
	}
}
