@use '../base';
/*----====lh blog info section====----*/
.lh {
  &_blog {
    &_info {
      /*----====lh blog info banner section====----*/
      &_banner {
        @apply mb-[90px] mt-[70px] w-full overflow-hidden;

        &__inner {
          @apply w-full;

          &__heading {
            @apply py-[35px] text-center text-[30px] font-medium leading-normal text-lh-blue-dark lg:py-[55px] lg:text-[50px] lg:leading-[60px];
            & br {
              @apply hidden sm:block;
            }
          }

          &__cat_date {
            @apply pb-[36px] text-center text-[10px] md:text-[14px] lg:text-[16px] font-semibold leading-[10px] md:leading-[14px] lg:leading-[16px] text-lh-black-light-500 flex items-start justify-center capitalize;

            .parent_slug_mark {
              @apply cursor-pointer border-r border-solid border-r-lh-white-50 px-[8px] text-[10px] md:text-[14px] lg:text-[16px] font-semibold uppercase leading-[10px] md:leading-[14px] lg:leading-[16px] text-lh-blue-600 last:mr-[12px];
            }
          }
        }

        &_img {
          @apply mx-auto h-[464px] w-full rounded-[10px] object-cover;
        }
      }

      /*----====lh blog details section====----*/
      &_details {
        &_banner {
          @apply w-full;

          .container {
            @apply flex flex-wrap items-start justify-between gap-x-[2%] lg:gap-x-[60px];
          }
        }

        &_left_area {
          @apply order-2 max-w-full lg:order-1 lg:max-w-[63%] lg:basis-[63%];

          &__p {
            @apply pb-[30px] text-[18px] leading-[27px] text-lh-black-light last:pb-0;
          }

          &__heading {
            @apply pb-[20px] pt-[40px] text-[22px] leading-normal text-lh-black md:text-[30px] lg:text-[40px] lg:leading-[60px];
          }

          &__sub_heading {
            @apply pb-[10px] pt-[30px] text-[22px] leading-normal text-lh-black md:text-[30px] md:leading-[45px];
          }

          &__img {
            @apply my-[30px] w-full object-cover;
          }

          &__social {
            @apply mt-[70px] flex items-center gap-x-[13px];

            &__para {
              @apply text-[20px] font-normal text-lh-black-light;
            }

            .lh_blog_info_left_social_list {
              @apply flex items-center gap-x-[20px];

              li {
                @apply cursor-pointer transition duration-300 ease-out hover:animate-bounce;
              }
            }
          }
        }

        &_right {
          &_catagories {
            &_area {
              @apply order-1 mb-[30px] w-full lg:order-2 lg:mb-0 lg:max-w-[30%] lg:basis-[30%];

              .lh_blog_search_area {
                @apply w-[100%];
              }
            }
          }
        }
      }
      /*----====lh blog article section====----*/
      &_article {
        &_section {
          @apply w-full pb-[130px] pt-[112px];

          .container {
            @apply flex;
          }
        }

        &_slider {
          @apply flex flex-wrap gap-x-[22px] gap-y-[100px] pb-[90px] pt-[60px] lg:gap-y-[40px];

          &__list {
            @apply mt-0 w-full md:w-[48%] lg:w-[31%] xl:w-[32%];

            img {
              @apply h-[192px];
            }
          }

          &_wrapper {
            @apply relative w-full;
          }

          &_btns {
            @apply relative flex h-auto w-full gap-x-[15px];

            &__prev.splide__arrow--prev.splide__arrow--prev {
              @apply absolute left-0 right-0 top-[80px] h-[54px] w-[54px] bg-transparent opacity-100 hover:bg-lh-blue-400 md:left-[80%] md:top-[50%] lg:left-[88%] xl:left-[89%];
              @media (max-width: 556px) {
                @apply absolute top-[124px];
              }

              svg {
                @apply fill-lh-blue-400;
              }
              &:hover svg {
                @apply fill-lh-white;
              }
            }

            .splide__arrow--next.splide__arrow--next {
              @apply absolute right-[60%] top-[80px] h-[54px] w-[54px] bg-transparent opacity-100 hover:bg-lh-blue-400 sm:right-[80%] md:right-0 md:top-[50%];
              @media (max-width: 556px) {
                @apply right-[70%] absolute top-[124px];
              }
              @media (max-width: 480px) {
                @apply right-[65%] absolute top-[124px];
              }

              svg {
                @apply fill-lh-blue-400;
              }
              &:hover svg {
                @apply fill-lh-white;
              }
            }

            .lh_pagination_prev {
              @apply relative left-0 top-0;
            }

            .lh_pagination_next {
              @apply relative right-0 top-0;
            }
          }

          .lh_blog_post_data {
            @apply mt-0;
            @media (max-width: 992px) {
              width: 50% !important;
            }
            @media (max-width: 768px) {
              width: 100% !important;
            }
          }
        }

        &_heading {
          &_area {
            @apply flex flex-wrap items-center justify-between;
          }
        }

        &_heading {
          @apply text-[30px] font-semibold leading-normal text-lh-black lg:text-[40px] lg:leading-[60px];
        }
      }
    }
  }
}
