@use '../base';

.lh{
     /*----==lh contact form section==----*/
    &_contact{
        &_form{
            @apply border border-solid border-lh-blue-light-150;

            &_section{
                @apply mt-[65px] pb-[90px];

                &__heading{
                    @apply w-full text-center mb-[60px];

                    p{
                        @apply text-[16px] leading-[24px] text-lh-black-light-400 text-center mx-auto;
                    }

                }
                &_title{
                    @apply text-[30px] leading-normal lg:text-[50px] lg:leading-[75px] pb-[12px] text-lh-blue-dark font-medium;
                }
            }
            @apply w-full bg-lh-white rounded-[26px] py-[20px] px-[15px] lg:py-[60px] lg:px-[76px] text-center;

            .lh_form_title{
                @apply text-[26px] leading-[39px] text-lh-black font-normal pb-[14px];
            }

            .form_group{
                @apply flex gap-x-[30px] gap-y-[35px];

                .form_submit_btn_area{
                    @apply flex items-center flex-wrap gap-y-[40px] justify-between;
                }

                .form_captcha_btn{
                    @apply w-full sm:w-[348px] h-[88px] flex items-center rounded-[3px] px-[13px] py-[10px] border border-solid border-lh-black-450 bg-lh-black-light-300;

                    p{
                        @apply font-medium text-lh-black;
                    }
                }

                .captcha_btn{
                    @apply w-[28px] h-[28px] border-8 mr-[8px] border-lh-black-450 rounded-[5px] cursor-pointer;
                }

                .captcha_icon{
                    @apply w-auto h-[65px] ml-auto;
                }
                .form_submit{
                    @apply w-full justify-center sm:justify-start sm:w-auto h-[60px];
                }
            }

            &_para{
                @apply text-[20px] leading-[30px] text-lh-black-light-400 font-normal text-center mx-auto;

                br{
                    @apply hidden lg:block;
                }

                p{
                    @apply text-[16px] leading-[24px] text-lh-black-light-400 text-center mx-auto;
                }
            }

            /* --hubspot added form--*/
            form{
                @apply w-full flex flex-wrap gap-x-[30px] gap-y-[35px] relative text-left;

                .form-columns-2{
                    @apply max-w-full w-full flex flex-wrap lg:flex-nowrap gap-x-[30px];
                }
                .form-columns-1{
                    @apply max-w-full w-full;
                }
                .input{
                    @apply mr-0;
                }
                .hs_firstname.hs-firstname.hs-form-field{
                    @apply w-full lg:w-[482px] h-auto text-left relative;
                }
                .hs_lastname.hs-lastname.hs-form-field{
                    @apply w-full lg:w-[471px] h-auto text-left relative;
                }
                .hs_email.hs-email.hs-form-field{
                    @apply w-full lg:w-[482px] h-auto text-left relative;
                }
                .hs_phone.hs-phone.hs-form-field{
                    @apply w-full lg:w-[471px] h-auto text-left relative;
                }

                input{
                    @apply w-[482px] h-[68px] border border-solid border-lh-black-450 rounded-[5px] px-[35px] outline-none relative;
                }
                textarea{
                    @apply max-w-full w-full h-[181px] border border-solid border-lh-black-450 rounded-[5px] pt-[50px] px-[35px] outline-none relative block;
                }
                .hs-input{
                    @apply max-w-full w-full;
                    width: 100% !important;
                }

                label{
                    @apply top-[15px] left-[33px] relative text-[15px] leading-[30px] font-normal text-lh-black-550 z-10 px-[10px] bg-lh-white;

                    .hs-form-required{
                        @apply text-[15px] leading-[30px] font-normal text-lh-requred;
                    }
                }

                .hs-submit.hs_submit{
                    @apply ml-auto;
                }
                .hs-button {
                    @apply cursor-pointer h-[60px];
                    @include base.active_blue_rounded_btn;
                }
            }
        }
    }
    
   /*----==lh branch section==----*/
    &_branch{
        &_section{
            @apply w-full pt-[90px];

            .container{
                p{
                    @apply text-[16px] leading-[24px] font-normal text-lh-black-light-400 text-center;
                }
            }

            &__heading{
                @apply pb-[65px];
            }
            .lh_branch_section_title{
                @apply text-[30px] leading-normal pb-[10px] lg:pb-0 lg:text-[40px] lg:leading-[75px] text-lh-black text-center font-medium;
            }
            .lh_branch_section_para{
                @apply text-[16px] leading-[24px] font-normal text-center text-lh-black-light-400;
            }
        }

        &_bg{
            @apply w-full lg:w-[943px] h-auto object-cover mx-auto;
        }
    }

    /*----==lh location section==----*/
    &_location{
        @apply w-full pt-[90px] pb-[90px] lg:pt-[152px] lg:pb-[109px];
        .container{
            @apply flex flex-wrap items-center gap-x-[74px] lg:flex-nowrap;
        }

        &__img{
            @apply w-full lg:w-auto object-cover mb-[35px] lg:mb-0;

            img{
                @apply w-full h-[325px] lg:w-auto object-cover rounded-[15px];
            }
        }

        &__title{
            @apply text-[26px] leading-[39px] font-medium text-lh-black pb-[27px];
        }
    }
}