@use '../base';

.lh{
    /* --feature banner--*/
    &_feature{
        &_hero{
            @apply w-full bg-lh-dark-blue-900 h-auto pb-[50px] lg:pb-0 xl:h-[517px] overflow-hidden;

            .container{
                @apply flex lg:gap-x-[62px] xl:gap-x-[95px] flex-wrap lg:flex-nowrap;
            }
            &__heading{
                @apply text-[30px] lg:text-[50px] font-medium leading-normal text-white pb-[5px];
            }
            &__sub_heading{
                @apply text-[26px] font-medium leading-normal pb-[11px] text-lh-dark-blue-800;
            }
            &__para{
                @apply text-[16px] font-normal leading-[24px] text-white;
            }
        }

        &_content_area{
            @apply max-w-full basis-full lg:max-w-[40%] lg:basis-[40%] mt-[40px] lg:mt-[89px] order-2 lg:order-1;
        }
        &_image_area{
            @apply max-w-full basis-full lg:max-w-[60%] h-auto lg:basis-[60%] mt-[50px] lg:mt-0 relative order-1 lg:order-2;
            
            .platform_hero_icon{
                @apply object-cover relative z-10 lg:mt-[16%] xl:mt-[8%] mx-auto ;
            }

            .platform_hero_bg{
                @apply absolute object-cover top-0 lg:top-[14%] xl:top-[6%] mx-auto right-[1%] md:right-[7%] lg:right-0 2xl:right-[5%];
    
            }
        }
    }
    
     /* --key heighlight--*/
     &_key{
        &_heighlight{
            @apply w-full h-auto py-[90px];

            &__heading{
                @apply text-[40px] leading-normal font-semibold text-black text-center pb-[13px];
            }
            &__para{
                @apply text-[16px] leading-[24px] text-black font-normal text-center;

                br{
                    @apply hidden lg:block;
                }
            }

            &__bg{
                @apply object-cover rounded-[16px] mt-[75px] mx-auto hidden lg:block;
            }

            &_mob_btns{
                @apply w-full h-auto relative block lg:hidden;

                .lh_key_heighlight_icon{
                    @apply w-full relative mx-auto mt-[80px];
                }
                .hightlight_mob_icon{
                    @apply mx-auto z-10;
                }

                .hightlight_mob_bg{
                    @apply absolute left-[50%] top-[50%] translate-y-[-50%] translate-x-[-50%] opacity-20 h-[120%] sm:h-[140%] z-[1];
                }
                .heighlight_mob_btns_wrapper{
                    @apply flex justify-center md:justify-between flex-wrap gap-x-[30px] md:gap-x-[55px] gap-y-[40px] mt-[80px];

                    .heighlight_mob_btn{
                        @apply px-[15px] py-[19px] text-[18px] font-medium text-lh-black-light-100 rounded-[12px] border border-solid border-lh-blue-light-100 bg-white text-center w-full sm:w-auto;
                    }
                }
            }
        }
     }
    /* --ai driven--*/
     &_ai{
        &_driven{
            @apply w-full pt-0 pb-[50px] lg:py-[88px] h-auto bg-white;

            .container{
                @apply gap-x-[107px];
            }
            &_content{
                @apply order-2 lg:order-1;
            }
            &_img_area{
                @apply order-1 lg:order-2 pb-[40px] lg:pb-0;

                img{
                    @apply w-auto bg-cover;
                }
            }
        }
     }
    /* --loan org manegment--*/
     &_loan{
        &_org{
            &_manage{
                @apply w-full bg-lh-dark-blue-900 py-[50px] lg:py-[90px];

                .container{
                    @apply gap-x-[163px];
                }
                &_content{
                    @apply pt-[40px] lg:pt-0;
                }
                .loan_org_manage_heading{
                    @apply text-white;
                }
                .loan_org_manage_para{
                    @apply text-white;
                }
            }
        }
     }
     /* --data drivenloan management--*/
     &_data{
        &_driven{
            &_loan{
                &_management{
                    @apply py-[50px] lg:pt-[90px] lg:pb-[81px] bg-white; 

                    .container{
                        @apply gap-x-[117px];
                    }
                    &_content{
                        @apply order-2 lg:order-1;
                    }
                    &_img_area{
                        @apply order-1 lg:order-2 mb-[40px];
                    }
                }
            }
        }
     }
     /* --digital rev--*/
     &_digital{
        &_revolution{
            @apply bg-lh-dark-blue-500 py-[50px] lg:pt-[75px] lg:pb-[90px];

            .continer{
                @apply gap-x-[120px];
            }

            &_image_area{
                @apply mb-[40px];
            }
        }
     }
}