@use '../base';

.lh{
	/*----====lh banner section====----*/
	&_hero{
		&_banner{
			@apply w-full mt-[20px] lg:mt-[70px] mb-[88px] overflow-hidden;

			.container {
				@apply flex justify-between gap-x-[76px] flex-wrap lg:flex-nowrap xl:flex-nowrap xl:w-[1200px];
			}

			&__content_area{
				@apply sm:basis-full order-2 lg:order-1 lg:basis-full xl:basis-[45%] text-lh-blue-dark;
			}

			&__image {
				@apply basis-full lg:mt-0 xl:basis-[55%] h-[510px] order-1 lg:order-2 relative;
		
				.home_banner_bg{
					@apply relative h-[85%] md:h-[80%] lg:h-[295px] xl:h-[325px] object-cover z-10 md:mx-auto lg:mr-0 lg:ml-auto;
					@media (max-width: 640px){
						@apply h-auto w-full;
					}
				}
				.home_banner_icon{
					@apply absolute top-0 lg:top-[-10%] xl:top-0 z-[2] h-[509px] object-contain lg:left-0 xl:left-[6%];
				}
			}

			&__icon_group{
				@apply w-full h-full absolute;

				.home_banner_icon1{
					@apply absolute lg:left-[5%] xl:left-[11%] top-[60px] lg:h-[200px] xl:h-[232px] object-cover z-[11] rounded-[10px];
					@media (max-width: 640px){
						@apply left-0;
					}
					@media (max-width: 500px){
						@apply h-[190px];
					}
				}
				.home_banner_icon2{
					@apply absolute bottom-[14%] lg:bottom-[27%] xl:bottom-[18%] left-[5%] lg:left-[10%] xl:left-[17%] lg:h-[100px] xl:h-[110px] object-cover z-[11];
					@media (max-width: 640px){
						@apply left-0;
					}
					@media (max-width: 500px){
						@apply h-[90px] bottom-[31%];
					}
				}
				.home_banner_icon3{
					@apply absolute bottom-[5%] lg:bottom-[25%] xl:bottom-[11%] right-[5%] md:right-[22%] lg:right-[8%] xl:right-[5%] lg:h-[125px] xl:h-[168px] object-cover z-[11] rounded-[10px];
					@media (max-width: 640px){
						@apply right-[8%];
					}
					@media (max-width: 500px){
						@apply right-0 h-[115px] bottom-[28%];
					}
				}
			}
		}
	}

	&_banner_heading {
		@apply text-[32px] leading-normal text-lh-blue-dark lg:text-[50px] lg:leading-[60px] font-medium pb-[37px];
	}
	&_banner_btn_group {
		@apply w-full flex flex-wrap gap-x-[14px] gap-y-[20px];

		&__btn {
			@apply leading-[24px];
		}
	}

	/*----====lh slient logo section====----*/
	&_client{
		&_logo{
			&_section{
				@apply w-full h-auto mb-[90px];

				&__heading {
					@apply text-center text-lh-black text-[26px] leading-[39px] font-medium pb-[49px];
				}
			
				&__area {
					@apply w-full gap-x-[20px] gap-y-[50px] mx-auto flex lg:items-center justify-center lg:justify-start flex-wrap lg:gap-x-[68px] lg:gap-y-[50px];
			
					&__data {
						@apply basis-[47%] sm:basis-[30%] lg:basis-1/5;
			
						img {
							@apply object-cover grayscale;
						}
					}
				}
			}
		}
	}

	/*----====lh how work section====----*/
	&_how{
		&_work{
			&_section{
				@apply w-full mt-[50px];

				&__heading_area{
					@apply w-full;
				}
				&__img {
					@apply w-full object-cover;
				}
			}

			&_heading {
				@apply text-[30px] leading-normal lg:text-[40px] lg:leading-[60px] font-medium text-center text-lh-blue-dark pb-[22px];
			}
			&_para {
				@apply text-[20px] leading-[28px] font-normal text-center pb-[22px] text-lh-black-light;
	
				br {
					@apply hidden lg:block;
				}
			}
			&_btn {
				@apply w-fit mx-auto mt-[88px] leading-[24px] py-[23px] px-[56px];
			}
		}
	}

	/*----====lh solution section====----*/
	&-c {
		&__solutions {
			@apply bg-[url('/assets/endless-solutions-bg.png')] bg-bottom bg-cover bg-no-repeat mt-0 lg:mt-[90px] pt-[92px] pb-[100px] overflow-hidden;

				.lh-u-common-heading {
					@apply w-full;
					h2 {
						@apply text-[30px] leading-normal lg:text-[40px] lg:leading-[60px] font-medium text-center text-lh-blue-dark pb-[22px];
					}

					p {
						@apply text-[20px] leading-[28px] font-normal text-center pb-[22px] text-lh-black-light;
					}
				}

				.lh_solution_btn {
					@apply mx-auto mt-[90px] w-fit leading-[24px] py-[23px] px-[45px];
				}
		}
	}
}
