@use '../base';

.lh{
    &_how{
        &_it{
            &_work{
                /* --==hero banner==--*/
                &_hero{
                    @apply w-full relative mt-[40px] bg-none;

                    &__content{
                        @apply w-full lg:w-[84%] overflow-hidden;
                    }
                }
                /* --==step sections==--*/
                &_step{
                    @apply w-full pb-[90px];

                    .container{
                        @apply lg:w-[1064px] mx-auto;
                        counter-reset: step_count;
                    }
    
                    &__wrapper{
                        @apply w-full flex flex-wrap pb-[100px] md:pb-[90px] last:pb-0 relative after:content-[''] after:left-[2%] md:after:left-[36%] after:w-[1%] after:h-full after:absolute;

                        &.start_point{
                            @apply before:hidden md:before:block relative before:content-[''] before:left-[35.5%] before:top-[-10px] before:w-[13px] before:h-[13px] before:rounded-full before:bg-lh-blue-450  before:absolute;
                        }
                        &.end_point{
                            @apply before:hidden md:before:block relative before:content-[''] before:left-[35.5%] before:bottom-0 before:w-[13px] before:h-[13px] before:rounded-full before:bg-lh-blue-450  before:absolute;
                        }

                        &::after{
                            background-image: repeating-linear-gradient(237deg, #02A7E9, #02A7E9 5px, transparent 5px, transparent 10px, #02A7E9 10px);
                            background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
                            background-position: 0 0, 0 0, 100% 0, 0 100%;
                            background-repeat: no-repeat;
                        }
                    }
                    /* --==step img area==--*/
                    &_img{
                        @apply w-[80%] md:w-[32%] md:basis-[32%] mx-auto flex flex-col md:pl-0 relative before:content-[''] before:text-lh-blue-450 before:text-[35px] md:before:text-[22px] before:w-[52px] before:h-[52px] md:before:h-[52px] before:left-[-15%] sm:before:left-[-16%] md:before:left-[101%] lg:before:left-[105%] before:top-[40%] md:before:top-[18%] lg:before:top-[32%] before:bg-white before:rounded-full before:flex before:justify-center before:items-center z-10 before:absolute;

                        &::before{
                            counter-increment: step_count;
                            content: counter(step_count);
                            box-shadow: 0 17px 64px rgba(75, 177, 247, 24%);
                        }

                        /* --==step img icon==--*/
                        .how_work_step_icon1{
                            @apply w-full lg:w-[310px] h-auto object-cover;
                        }
                        .how_work_step_icon2{
                            @apply w-auto h-[192px] lg:w-[305px] lg:h-auto object-cover;
                        }
                        .how_work_step_icon3{
                            @apply w-auto lg:w-[296px] lg:h-[182px] object-cover;
                        }
                        .how_work_step_icon4{
                            @apply w-auto lg:w-[296px] lg:h-[193px] object-cover;
                        }
                        .how_work_step_icon5{
                            @apply w-auto lg:w-[302px] lg:h-[210px] object-cover;
                        }
                        .how_work_step_icon6{
                            @apply w-auto lg:w-[329px] lg:h-[220px] object-cover;
                        }
                    }
                    /* --==step text content area==--*/
                    &_content{
                        @apply md:w-[68%] md:basis-[68%] flex flex-col pt-[60px] md:pt-0 pl-[5%] md:pl-[10%] relative;
                    }

                    &_heading{
                        @apply text-[26px] font-medium leading-normal text-black pb-[20px];
                    }
                    &_para{
                        @apply text-[16px] leading-normal font-normal text-lh-black-light-400;
                    }
                }
            }
        }
    }

    &_process{
        &_article{
            .lh_blog_info_article_slider{
                @apply pt-[60px];
            }
        }
    }
}