.lh{
    /*----==our mission banner==----*/
    &_mission{
        &_banner{
            @apply w-full pt-[89px] relative;
            .container{
                @apply gap-x-[50px];
            }

            &__content_area{
                @apply basis-full max-w-full lg:basis-[40%] lg:max-w-[40%] z-[10];
            }

            img{
                @apply w-auto h-full object-cover absolute bottom-0 right-0 lg:right-[-80px] xl:right-0 z-[1];
            }
        }

        &_commitment{
            @apply mt-[140px] pt-0;
        }
    }

    /*----=aim to do section==----*/
    &_aim{
        &_to{
            &_do{
                @apply w-full pt-[81px];

                .container{
                    @apply gap-x-[100px] justify-between;
                }

                .aim_to_do_heading{
                    @apply text-[30px] lg:text-[40px] font-medium text-lh-black pb-[23px] pt-[30px];
                }
                .aim_to_do_sub_heading{
                    @apply text-[26px] leading-normal text-lh-dark-blue-900 font-normal pb-[15px];

                    br{
                        @apply hidden lg:block;
                    }
                }
                .aim_to_do_para{
                    @apply text-[16px] leading-[24px] font-normal text-lh-black-light pb-[30px] last:pb-0 pr-0 lg:pr-[11%];
                }

                &_img{
                    @apply mb-[40px] lg:mb-0 mx-auto lg:mx-0;
                }

                .aim_Commitment{
                    @apply w-full block;
                }
            }
        }
        /*----=Commitment section==----*/
        &_commitment{
            @apply w-full mb-0 pb-[90px] bg-lh-dark-blue-500 lg:bg-transparent;

            .aim_commitment_align{
            }

            .lh_num_card_wrapper{
                @apply mt-[60px] gap-y-[60px];
            }
            .commitment-icon{
                @apply mb-[12px] object-cover;
            }
            .lh_num_card{
                @apply bg-none;
            }
        }
    }
    /*----=mission block image section==----*/
    &_mission{
        &_block{
            &_image{
                @apply w-full;

                img{
                    @apply w-full h-auto lg:h-[637px] object-cover;
                }
            }
        }
    }
}