.lh{
    /*----====platform banner setion====----*/
    &_platform{
        &_banner{
            @apply w-full bg-lh-dark-blue-900 pt-[50px] pb-[50px] lg:pb-0 lg:pt-[46px] relative overflow-hidden;

            .container{
                @apply flex items-center flex-wrap gap-x-[62px] lg:flex-nowrap;
            }
            &__content_area{
                @apply basis-full max-w-full lg:basis-[45%] lg:max-w-[45%] pr-[2%] order-2 lg:order-1 z-20 mt-[40px] lg:mt-0;
            }

            &__heading{
                @apply text-[50px] leading-[75px] font-medium text-lh-white;
            }
            &__sub_heading{
                @apply text-[26px] leading-[39px] font-medium text-lh-dark-blue-800;
            }
            &__para{
                @apply text-[16px] leading-[24px] text-lh-white font-light pt-[11px];
            }

            &__img{
                @apply basis-full max-w-full lg:basis-[55%] lg:max-w-[55%] overflow-hidden order-1 lg:order-2;

                img{
                    @apply w-full z-10 object-cover relative;
                }
            }
            .platform_banner_icon{
                @apply absolute bottom-0 overflow-hidden;

                img{
                    @apply h-[455px] object-cover;
                }
            }
        }
    }
/*----====platform key hightlight setion====----*/
    &_key{
        &_hightlight{
            @apply w-full py-[90px] overflow-hidden;

            &__heading{
                @apply text-[30px] leading-normal lg:text-[40px] lg:leading-[60px] font-semibold text-lh-black text-center pb-[13px];
            }

            &__para{
                @apply text-[16px] leading-[30px] font-normal text-lh-black text-center;
                br{
                    @apply hidden lg:block;
                }
            }

            &__img{
                @apply mt-[75px] rounded-[26px] w-full object-cover hidden lg:block;
            }

            &_mob{
                @apply mt-[75px] w-full h-auto relative block lg:hidden;

                &_icon{
                    @media (max-width:480px){
                        @apply before:left-[40%] before:translate-x-[-39%] before:top-[-70px];
                    }
                    @media (max-width:420px){
                        @apply before:left-[38%] before:translate-x-[-39%] before:top-[-28px];
                    }
                    @apply w-auto mx-auto h-auto relative mb-[50px] before:content-[''] before:w-full before:h-[400px] before:opacity-20 lg:before:h-[430px] before:top-[-23%] sm:before:top-[-25%] lg:before:top-[-30%] before:left-[50%] before:translate-x-[-39%] sm:before:translate-x-[-36%] md:before:translate-x-[-30%] lg:before:translate-x-[-24%] xl:before:translate-x-[-21%] 2xl:before:translate-x-[-18%] before:bg-contain before:mx-auto before:bg-no-repeat before:bg-[url('/assets/hightlight-mob-icon-bg.png')] before:absolute;
                    

                    .hightlight_mob_icon{
                        @apply h-auto w-auto mx-auto relative;
                        @media (max-width:570px){
                            @apply h-[250px];
                        }
                    }
                    
                }
            }
            &_mob_btn_group{
                @apply flex flex-wrap gap-x-[40px] justify-center md:justify-between gap-y-[35px] mt-[100px] items-center lg:justify-start;
            }
            &_mob_btn{
                @apply w-full md:w-auto text-center p-[18px] text-[18px] font-medium leading-normal text-lh-black-light-100 bg-white rounded-[12px] border border-solid border-lh-blue-light-100;
            }
        }
    }
/*----====platform Ai driven setion====----*/
    &_platform{
        &_ai{
            &_driven{
                &_section{
                    @apply py-[88px] overflow-hidden;
                    
                    .container{
                        @apply gap-x-[115px];
                    }
                    .ai_driven_content{
                        @apply order-2 lg:order-1 mt-[40px] lg:mt-0;
                    }
                    .ai_driven_heading{
                        @apply text-lh-black-light-400;
                    }
                    .ai_driven_para{
                        @apply text-lh-black-light-400;
                    }
                    .ai_driven_img{
                        @apply order-1 lg:order-2;
                    }
            
                    .platform_ai_driven_img{
                        @apply w-auto object-cover;
                    }
                }
            }
        }
    }
/*----====platform Loan Origination & Management setion====----*/
    &_loan{
        &_origination{
            &_management{
                &_section{
                    @apply py-[90px] overflow-hidden;

                    .container{
                        @apply gap-x-[153px];
                    }
                    .loan_origination_m_content{
                        @apply mt-[40px] lg:mt-0;
                    }
                    .loan_origination_management_heading{
                        @apply text-lh-white;
                    }
                    .loan_origination_management_para{
                        @apply text-lh-white;
                    }

                    .loan_origination_management_report_img{
                        @apply h-[353px] object-cover;
                    }
                }
            }
        }
    }
/*----====platform Data-driven Loan Management section====----*/
    &_data{
        &_driven{
            &_loan{
                &_management{
                    &_setion{
                        @apply w-full pt-[90px] pb-[81px] overflow-hidden;

                        .container{
                            @apply gap-x-[117px];
                        }
                        .data_driven_loan_m_content{
                            @apply order-2 lg:order-1 mt-[40px] lg:mt-0;
                        }

                        .data_driven_loan_m_img{
                            @apply order-1 lg:order-2;
                        }
                        .data-driven_loan_management_img{
                            @apply w-full h-[374px] object-contain;
                        }
                    }
                }
            }
        }
    }
/*----====platform digital revolution section====----*/
    &_digital{
        &_revolution{
            @apply w-full py-[90px] overflow-hidden;

            .container{
                @apply gap-x-[120px];
            }
            .digital_revolution_content{
                @apply mt-[40px] lg:mt-0;
            }

            .digital_revolution_img{
                @apply h-[427px] object-contain;
            }
        }
    }
}