.lh{
    &_process{
        /* ----==heading section==----*/
        &_heading{
            @apply w-full h-auto pt-[40px];
        }
        &_title{
            @apply text-[40px] leading-normal lg:text-[50px] text-black font-medium text-center pb-[40px];
        }
        &_para{
            @apply text-[20px] lg:text-[26px] leading-normal text-black font-medium text-center;
        }

        &_wrapper{
            @apply sm:w-[100%] px-[15px] lg:w-[944px] xl:w-[944px] 2xl:w-[1136px] mx-auto lg:px-[96px];
        }

        /* ----==step section==----*/
        &_step{
            @apply w-full h-auto mt-[65px] pb-[60px] relative;
            counter-reset: section;

            .container{
                @apply w-full lg:w-[1104px] flex justify-start xl:justify-center flex-wrap gap-x-[30px] xl:gap-x-[56px] gap-y-0 md:gap-y-[32px] z-10;
            }

            .step_content_box{
               /* -- @apply relative md:w-[40%] lg:w-[330px]before:content-[''] before:right-[37%] before:top-[122%] before:block md:before:hidden lg:before:block lg:before:right-[-60%] xl:before:right-[-64%] lg:before:top-[36%] before:w-[100px] lg:before:w-[172px] before:h-[12px] before:bg-[url('/assets/step-arrow.png')] before:bg-no-repeat before:bg-contain lg:before:bg-cover before:absolute before:rotate-90 lg:before:rotate-0; --*/ 
                @apply w-full sm:w-[47%] md:w-[45%] mx-auto lg:mx-0 lg:w-[311px] xl:w-[330px] h-auto relative text-center z-10;
            }
            .step_utilize_box{
                @media (max-width:415px){
                    @apply mt-[32%] sm:mt-0;
                }
                @media (max-width:575px){
                    @apply mt-[22%] sm:mt-0;
                }
                @apply mt-[18%] sm:mt-0;
            }

             /* ----==step left arrow & bottom next arrow==--
            .left_arrow_hide{
                @apply relative before:block md:before:hidden before:last:hidden after:content-[''] after:w-[605px] after:h-[83px] after:object-cover after:bottom-[-40%] after:right-[50%] after:absolute after:bg-[url(/assets/step-next-arrow.png)] after:bg-no-repeat after:hidden lg:after:block before:z-10 after:last:hidden;
            } --*/

            /* ----==images wrapper div==----*/
            .step_content_img_group{
                @apply relative mx-auto w-[330px] md:w-full before:top-[25%] before:left-[-6%] z-10 before:absolute before:text-[162px] before:z-[-1] mt-0 md:mt-[-19%];
                /* ----before count dynamic----*/
                &::before{
                    content: '';
                    counter-increment: section;
                    content: counter(section);
                    color: #02A7E9;
                    font-weight: bolder;
                    opacity: .15;
                }

                /* ----step box bg image----*/
                .step_content_bg{
                    @apply w-full h-[332px] mx-auto object-cover rounded-[16px];
                }
                .step_application_bg{
                    @apply w-full h-[323px] mx-auto object-cover rounded-[16px];
                }

                /* ----Overlap icon position staring from here--
                .step-icon1{
                    @apply w-[auto] h-[31px] object-cover absolute top-[37%] left-[15%] rounded-none z-10;
                }
                .step-icon2{
                    @apply w-auto h-[46px] object-cover absolute bottom-[10px] right-[13%] rounded-full z-10;
                }
                .step-icon3{
                    @apply w-auto h-[46px] object-cover absolute bottom-[14px] left-[10%] rounded-none z-10;
                }
                .step-icon4{
                    @apply w-auto h-[31px] object-cover absolute bottom-[37px] right-[12%] rounded-none z-[1];
                }
                .step-icon5{
                    @apply w-auto h-[53px] object-cover absolute bottom-[10px] left-[9%] rounded-none z-[11];
                }
                .step-icon6{
                    @apply w-auto h-[79px] object-cover absolute bottom-[-30px] right-[10%] rounded-none z-10;
                }
                .step-icon7{
                    @apply w-auto h-[90px] object-cover absolute bottom-[-20px] left-[15%] rounded-none z-10;
                }
                .step-icon8{
                    @apply w-auto h-[96px] object-cover absolute top-[17px] right-[40px] md:right-[20px] rounded-full z-10;
                }
                .step-icon9{
                    @apply w-auto h-[43px] object-cover absolute bottom-[50px] left-[9%] sm:left-[11%] md:left-[12%] lg:left-[10%] rounded-none z-10;
                }
                .step-icon10{
                    @apply w-auto h-[90px] object-cover absolute bottom-[-10px] left-[15%] rounded-none z-10;
                }
                .step-icon11{
                    @apply w-auto h-[55px] object-cover absolute bottom-[12px] left-[36px] rounded-none z-[11];
                }
                .step-icon12{
                    @apply w-auto h-[60px] object-cover absolute bottom-[-20px] right-[12%] lg:right-[25px] rounded-none z-10;
                }
                .step-icon13{
                    @apply w-auto h-[64px] object-cover absolute bottom-[10px] right-[28px] rounded-none z-10;
                } --*/
            }

            /* --image box group align--
            .land_img_group{
                @apply relative mb-[23px];
            }
            .step_utilize_img_group{
                @apply relative mb-[35px];
            }
            .step_onboarding_img_group{
                @apply relative mb-[26px];
            }

            .step_arrow{
                @apply w-full lg:w-auto my-[50px] lg:m-0 z-10;

                img{
                    @apply h-auto w-[80px] lg:w-auto top-[38%] left-[38%] sm:left-[40%] md:left-[44%] lg:left-0 relative rotate-90 lg:rotate-0;
                }
            }

            .step_utilize_box{
                .step_content_title{
                    @apply pt-0;
                }
            } --*/

            .step_content_text{
                @apply relative translate-y-[-40%];
            }
            .step_land_text_content{
                @apply absolute translate-y-[-32%];
            }

            .step_content_title{
                @apply text-[20px] font-medium text-black pb-[15px];
            }
            .step_content_para{
                @apply text-[16px] font-normal text-lh-black-light-400 leading-normal;
            }
            .icon_none{
                @apply relative before:hidden before:absolute;
            }
        }

        /* ----====lh article section====----*/
        &_article{
            @apply pt-[90px];

            &_slider{
                @apply pt-[41px];
            }
        }
    }
}