@use '../base';
.lh {
	&_solution {
		&_hero {
			/*----==solution banner==----*/
			&_section {
				@apply bg-lh-dark-blue-900 w-full h-auto lg:h-[550px] py-[80px] overflow-hidden;

				.container {
					@apply flex items-start lg:gap-x-[60px] xl:gap-x-[125px] flex-wrap lg:flex-nowrap;
				}
				&__content_area {
					@apply basis-full lg:basis-[50%] xl:basis-[45%] order-2 lg:order-1;

					.lh_solution_banner_heading {
						@apply text-[30px] leading-normal md:text-[50px] md:leading-[75px] text-lh-white font-medium;
					}

					&__sub_heading {
						@apply text-[20px] leading-normal md:text-[26px] md:leading-[39px] pb-[13px] text-lh-dark-blue-800;
					}

					&__para {
						@apply text-[16px] leading-[24px] text-lh-white lg:pr-[2%] font-light;
					}
				}

				&__image {
					@apply basis-full lg:basis-[60%] xl:basis-[55%] order-1 lg:order-2 relative mb-[120px] lg:mb-0;
					img {
						@apply w-[84%] sm:w-full md:w-[85%] lg:w-[370px] lg:h-[310px] mx-auto object-fill z-[7] relative;
					}
					.lh_solution_hero_icon {
						@apply w-full h-auto top-[-5%] sm:top-[-15%] sm:h-auto sm:w-full md:h-[663px] md:left-0 md:top-[-8%] xl:top-[-20%] lg:w-[546px] absolute z-[2] bg-cover lg:h-auto lg:top-[-12%] lg:left-[-50px] xl:w-[540px] xl:h-auto;
					}

					.lh_solution_img_icon_group {
						@apply absolute w-full h-full;
					}

					.lh_solution_group_icon1 {
						@apply w-[35%] md:w-[200px] h-auto lg:w-[148px] lg:h-[61px] absolute top-[28%] xl:top-[30%] left-0 z-[9] 2xl:left-[34px];
					}
					.lh_solution_group_icon2 {
						@apply w-[23%] h-auto lg:w-[150px] lg:h-[42px] absolute top-[60%] left-0 lg:left-[-10%] xl:top-[60%] xl:left-[-8%] z-[9] 2xl:left-0;
					}
					.lh_solution_group_icon3 {
						@apply w-[45%] h-auto lg:w-[191px] lg:h-[81px] absolute left-0 bottom-[-56px] md:bottom-[-30px] xl:bottom-[-30px] xl:left-[5%] z-[9];
					}
					.lh_solution_group_icon4 {
						@apply w-[30%] lg:w-[170px] md:w-[35%] h-auto absolute bottom-[-60px] lg:right-[18%] right-[13%] xl:bottom-[-68px] xl:right-[20%] z-[9] 2xl:w-[170px] 2xl:h-auto 2xl:bottom-[-45px] 2xl:right-[24%];
					}
					.lh_solution_group_icon5 {
						@apply w-[30%] lg:w-[132px] absolute top-[30%] lg:top-[48px] right-[5%] h-[28%] md:top-[140px] lg:h-auto xl:top-[48px] xl:right-[5%] z-[9] 2xl:right-[10%];
					}
				}
			}
		}

		&_sedule{
			&_heading{
				@apply text-[30px] md:text-[40px] leading-[57px];
			}
		}
	}
	/*----====lh setup solution section====----*/
	&_setup {
		&_solution {
			&_section {
				@apply w-full pt-[50px] pb-[80px] lg:pt-[82px] lg:pb-[155px] overflow-hidden;

				&__heading {
					@apply text-[30px] leading-normal lg:text-[40px] lg:leading-[60px] font-normal text-lh-black text-center;
					br {
						@apply hidden lg:block;
					}
				}

				&__icon {
					@apply w-full mt-[35px] lg:mt-[73px] object-cover;
				}
			}
		}
	}
	/*----====lh hidden opportunities section====----*/
	&_hidden{
		&_opportunities{
			@apply w-full pt-[89px] h-auto overflow-hidden;

			.container{
				@apply flex gap-x-[65px] flex-wrap lg:flex-nowrap;

				.risk_img{
					@apply order-1 lg:order-2;
				}
				.loan_img{
					@apply order-1 lg:order-2;
				}
			}
			.lh_hidden_opp_gap{
				@apply gap-x-[86px];
			}

			&__img{
				@apply h-auto rounded-[15px] basis-[100%] max-w-[100%] lg:basis-[50%] lg:max-w-[50%] relative pb-[60px] sm:pb-[40px];

				&__heading{
					@apply text-[30px] leading-[45px] text-lh-green-400 font-normal pb-[29px]; 
				}
				img{
					@apply w-[429px] h-auto rounded-[15px] object-cover mx-auto;
				}
				.lh_risk_bg{
					@apply w-full h-auto sm:w-[457px] sm:h-[430px] object-cover relative md:mx-auto lg:mr-0;
				}
				.loan_applications_bg{
					@apply w-full h-auto sm:w-[457px] sm:h-[441px] object-cover relative;
				}
				.lh_hidden_opp_img_icon_group{
					@apply w-full h-full absolute;

					.lh_hidden_opp_img_icon1{
						@apply w-auto h-[104px] absolute left-0 top-[55px] z-10;
					}
					.lh_hidden_opp_img_icon2{
						@media (max-width: 480px) {
							@apply top-[44%];
						}
						@apply w-auto h-[104px] absolute right-0 md:right-[10%] lg:right-0 2xl:right-[10%] top-[50%] md:top-[55%] lg:top-[50%] 2xl:top-[55%] z-10;
					}
					.lh_hidden_opp_img_icon3{
						@apply w-auto h-[160px] sm:h-[190px] md:h-[215px] absolute md:left-[10%] lg:left-[-10%] xl:left-0  2xl:left-[10%] top-[35%] z-10;
					}
					.lh_hidden_opp_img_icon4{
						@apply w-auto h-[280px] sm:h-[314px] absolute left-0 top-[33%] z-10;
						@media (max-width: 416px){
							@apply top-[27%];
						}
					}
				}
			}

			&__text_content{
				@apply float-none  basis-[100%] max-w-[100%] lg:basis-[50%] lg:max-w-[50%];

				.lh_tab_content_heading{
					@apply text-lh-black-light;
				}
				.lh_tab_content_para{
					p{
						@apply last:pt-[30px];
					}
				}
			}
			.risk_text_content{
				@apply order-2 lg:order-1;
			}
			.loan_text_content{
				@apply order-2 lg:order-1;
			}
		}
	}
	/*----====lh risk evaluation section====----*/
	&_risk{
		&_evaluation{
			@apply pb-[90px] overflow-hidden;
		}
	}
	/*----====lh loan app section====----*/
	&_loan{
		&_app{
			@apply py-[90px] overflow-hidden;
		}
	}
	/*----====lh bank statement solution section====----*/
	&_bank {
		&_statement {
			&_solution {
				&_section {
					@apply w-full py-[90px] bg-left-bottom lg:bg-left-top;
					background: url(/assets/bank-statement-solution-bg.png) no-repeat,
						#07377E;
					background-size: contain;
					@media (max-width: 992px) {
						background-position: left bottom;
					}

					.container {
						@apply flex items-start lg:gap-x-[50px] xl:gap-x-[75px] flex-wrap lg:flex-nowrap;
					}

					.lh_bank_statement_solution_img_wrapper {
						@apply w-full pt-[5px] pl-[7px] pr-[14px] pb-[14px];
					}

					.lh_bank_statement_solution_img {
						@apply max-w-full basis-full lg:basis-[50%] lg:max-w-[50%] xl:basis-[55%] xl:max-w-[55%] mb-[40px] lg:mb-0 mx-auto;
						img {
							@apply w-full object-fill h-auto;
						}
					}

					.lh_bank_statement_solution_content {
						@apply max-w-full basis-full lg:basis-[50%] lg:max-w-[50%] xl:basis-[45%] xl:max-w-[45%] 2xl:max-w-[35%] 2xl:basis-[35%];
						br {
							@apply hidden md:block;
						}
					}
					.lh_bank_statement_solution_heading {
						@apply text-[26px] leading-[39px] text-lh-white;
					}
					.lh_bank_statement_solution_para {
						@apply text-[16px] leading-[24px] text-lh-white font-normal pt-[24px];
					}
				}
			}
		}
	}
}