@use '../base';

.lh{
    &_thankyou{
        &_hero{
            @apply w-full pt-[30px] pb-[90px];

            &_content{
                @apply w-full mx-auto text-center;

                .thankyou_heading{
                    @apply text-[35px] leading-normal lg:text-[50px] font-medium text-lh-black pb-[12px];
                }
                .thankyou_para{
                    @apply text-[20px] font-normal leading-normal text-lh-black-light-400;

                    br{
                        @apply hidden lg:block;
                    }

                    .lh_return_link{
                        @apply text-lh-blue-400 underline;
                    }
                }

                .thank_you_icon{
                    @apply mx-auto w-auto bg-cover pt-[105px];
                }
            }
        }
    }
}