/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

/* ----====finance tab UI==----*/
.lender{
    &_dashboard{

        /* ----====Bank Account Details====----*/
        &_finance{
            &_bank{
              &_details{
                @apply w-full h-auto pl-[1.25rem] pr-[1.25rem]  mt-[1.875rem];

                @media (min-width: 1440px) {
                  @apply pr-[4.5rem];
                }

                &_wrapper{
                    @apply w-full p-[20px] bg-lh-skyblue-40 rounded-[10px] border border-solid border-lh-light-blue-30;
                }
                .section_icon_text{
                    @apply flex gap-x-[15px] items-center;
                }
                .section_icon{
                    @apply w-[46px] h-[46px] rounded-full bg-lh-skyblue-55 flex items-center justify-center;
                }
                .lh_card_wrapper_flex_col{
                    @apply gap-y-[5px] items-end;

                    .section_subheading{
                        @apply text-[0.75rem] text-lh-black-20 leading-[0.75rem] font-normal;
                    }
                    p{
                        @apply font-semibold text-lh-black;
                    }
                }
              }
           }

           /* ----==transaction history section==----*/
           &_transaction{
              @apply w-full h-auto pl-[1.25rem] pr-[1.25rem] mt-[1.875rem];

              @media (min-width: 1440px) {
                @apply pr-[4.5rem];
              }

              &_wrapper{
                @apply w-full bg-lh-white border border-solid border-lh-light-blue-30 rounded-[10px] mb-[80px];
                box-shadow: 0 4px 44px rgba(74, 141, 255, 10%);

                .lh_card_wrapper_justify_between{
                  @apply p-[20px];
                }
                .transaction_list_table_wrapper{
                  @apply w-full pt-[16px];

                  thead{
                    @apply w-full;

                    tr{
                      @apply drop-shadow-none;
                      box-shadow: none;

                      th{
                        @apply min-w-fit text-[0.688rem] leading-[1.25rem] font-medium text-lh-black pb-[18px] first:w-auto first:pl-[20px];
                      }
                    }
                  }

                  tbody{
                    tr{
                      @apply w-full py-[12px] border border-solid border-t-lh-light-blue-30 border-b-lh-light-blue-30 border-l-0 border-r-0 last:border-none;

                      td{
                        @apply min-w-fit first:pt-[16px] first:pl-5 leading-normal text-[0.688rem];
                      }
                      .merchant_status{
                        @apply flex items-center gap-x-[10px] pr-[10px];
                      }
                    }
                  }
                }
              }

              &_title{
                @apply w-auto flex items-center gap-x-[15px] flex-wrap;

                &_icon{
                  @apply w-[46px] h-[46px] rounded-full bg-lh-skyblue-55 flex items-center justify-center;
                }
              }

              &_filter{
                @apply w-auto flex items-center gap-x-[20px];
              }
           }

           &_institution{
            @apply w-full px-[20px] py-[13px] bg-lh-skyblue-35;
           }
        }

        &_application{
            &_loan{
                &_summary{
                  @apply w-full h-auto;

    
                  &_title{
                    @apply flex items-center gap-x-[15px];
    
                    .title_icon{
                      @apply w-[46px] h-[46px] rounded-full bg-lh-skyblue-55 flex items-center justify-center;
    
                      img{
                        @apply w-[17px] bg-cover mx-auto;
                      }
                    }
    
                    &_area{
                      @apply w-full flex items-center justify-between flex-wrap gap-y-[20px];
                    }
                  }
    
                  &_wrapper{
                    @apply w-full bg-lh-skyblue-40 border border-solid border-lh-light-blue-30 rounded-[10px] p-[20px] pb-[39px];
                  }
    
                  &_fields{
                    @apply w-auto flex items-start gap-x-[20px] flex-wrap gap-y-[20px];
                  }
    
                  &_data{
                    @apply w-full flex gap-[20px] mt-[20px] flex-wrap xl:flex-nowrap;
    
                    @media (min-width: 1440px){
                      @apply justify-between;
                    }
                  }
    
                  &_total{
                    @apply flex flex-col w-full basis-full xl:w-[31%] xl:basis-[31%] gap-y-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;
                    box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);
    
                    .account_details_list{
                      @apply w-full list-none flex flex-col gap-y-[20px] p-[20px];
    
                      li{
                        @apply w-full flex items-center gap-x-[15px];

                        img{
                          @apply w-[61px] h-[61px] bg-cover;
                        }

                        .account_details_item{
                          @apply w-full flex flex-col gap-y-[6px];
                        }
    
                        .p_subtitle{
                          @apply text-lh-black-20 leading-[0.688rem] text-[0.688rem] font-normal;
                        }
                        h5{
                          @apply font-medium text-lh-black text-[0.875rem] flex items-center gap-x-[7px];

                          img{
                            @apply w-[16px] h-[16px] bg-cover;
                          }
                        }
                        .p_title{
                          @apply text-[0.875rem] font-medium text-lh-black pt-[12px];
                        }
                        .active_btn{
                          @apply text-[0.5rem] px-[12px] py-[3px];
    
                          svg{
                            @apply hidden;
                          }
                        }
                      }
                    }
                    .loan_repayment{
                      @apply w-full list-none flex flex-col gap-y-[12px] p-[20px] rounded-[10px] bg-lh-blue-400;
    
                      li{
                        @apply w-full flex items-center justify-between;
    
                        input[type='range']{
                          @apply w-[70%] md:w-[80%] xl:w-[125px] h-[9px];
                        }
                        input[type='range']::-webkit-slider-runnable-track{
                          @apply bg-lh-skyblue-55 rounded-[20px];
                        }
                      }
    
                      p{
                        @apply text-[0.688rem] text-lh-white;
                      }
                      h5{
                        @apply text-lh-white font-semibold;
                      }
                    }
                  }
    
                  &_graph{
                    @apply w-full basis-full xl:w-[45%] xl:basis-[45%] bg-lh-white border border-solid border-lh-light-blue-30 p-[20px] rounded-[10px];
                    box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);
    
                    &_content{
                      @apply w-full;
    
                      .balance_list{
                        @apply w-full list-none flex justify-between gap-y-[20px];
    
                        .p_subtitle{
                          @apply text-lh-black-20 text-[0.688rem] font-normal;

                          span{
                            @apply text-[0.875rem] leading-[0.875rem] text-lh-black font-medium;
                          }
                        }
                        h5{
                          @apply font-medium text-lh-black pt-[12px] leading-[1.625rem];
                        }
                        .p_title{
                          @apply text-[0.875rem] font-medium text-lh-black pt-[7px];
                        }
                      }
    
                      img{
                        @apply w-full h-[115px] bg-cover mx-auto mt-[14px];
                      }
                    }
                  }
    
                  &_type{
                    &_info{
                      @apply w-full basis-full xl:w-[20%] xl:basis-[20%] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30 p-[20px];
                      box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);
    
                      .account_id_list{
                        @apply w-full list-none flex flex-col gap-y-[20px];
    
                        .p_subtitle{
                          @apply text-lh-black-20 text-[0.688rem] leading-normal font-normal flex items-center gap-x-[11px];
                        }
                        .p_title{
                          @apply text-[0.875rem] leading-normal font-medium text-lh-black pt-[6px];
                        }
                      }
                    }
                  }
                }
            }
        }

    }
}

button{
  @apply w-full;
}
/* ----====profit indicate ====----*/
.data_export_btn{
    @apply w-[40px] h-[40px] bg-lh-blue-400 cursor-pointer rounded-[6px] flex items-center justify-center;
    background: #146BFF;
}
/*----====dashboard page specific css====----*/
.select_dropdown {
  @apply w-[140px] py-[12px] px-[14px] text-[0.625rem] leading-normal rounded-[6px] text-lh-blue-400 border border-solid border-lh-blue-400 font-normal bg-[url(../../../assets/select-dropdown.svg)] bg-cover bg-no-repeat appearance-none outline-none bg-lh-white;
  background-position: right 14px top 50%, 0 0;
  background-size: 10px auto, 100%;
}
/*----====dashboard page specific css====----*/
.select_transaction_type {
  @apply w-[170px] py-[12px] px-[14px] text-[0.625rem] leading-normal rounded-[6px] text-lh-blue-400 border border-solid border-lh-blue-400 font-normal bg-[url(../../../assets/select-dropdown.svg)] bg-cover bg-no-repeat appearance-none outline-none bg-lh-white;
  background-position: right 14px top 50%, 0 0;
  background-size: 10px auto, 100%;
}

/*----====dashboard page specific css====----*/
.status{
  &_yellow{
    @apply min-w-[32px] h-[32px] rounded-full flex items-center justify-center border border-solid border-lh-yellow-10 text-lh-yellow-10 text-[0.688rem];
    background: rgba(249, 201, 31, 10%);
  }
  &_magenta{
    @apply min-w-[32px] h-[32px] rounded-full flex items-center justify-center border border-solid border-lh-magenta-10 text-lh-magenta-10 text-[0.688rem];
    background: rgba(212, 19, 135, 10%);
  }
  &_blue{
    @apply min-w-[32px] h-[32px] rounded-full flex items-center justify-center border border-solid border-lh-blue-10 text-lh-blue-10 text-[0.688rem];
    background: rgba(70, 66, 249, 10%);
  }
  &_success{
    @apply min-w-[32px] h-[32px] rounded-full flex items-center justify-center border border-solid border-lh-success-30 text-lh-success-30 text-[0.688rem];
    background: rgba(37, 216, 130, 10%);
  }
  &_orange{
    @apply min-w-[32px] h-[32px] rounded-full flex items-center justify-center border border-solid border-lh-orange-10 text-lh-orange-10 text-[0.688rem];
    background: rgba(240, 110, 37, 10%);
  }
}



/*----====Reusable card presrts====----*/
.lh{
    &_card{
        /*----====Card wrapper====----*/
        &_wrapper{
            @apply w-full h-auto;
  
            /*----====Card justify baseline====----*/
            &_justify{
                &_baseline{
                    @apply flex items-baseline justify-between;
                }  
            }
  
            /*----====Card justify center====----*/
            &_justify{
                &_between{
                    @apply w-full h-auto flex items-center justify-between flex-wrap;
                }  
            }
  
            /*----====Card item center====----*/
            &_flex{
                &_center{
                    @apply w-auto h-auto flex items-center gap-[20px];
                }  
            }
  
            /*----====Card flex col====----*/
            &_flex{
                &_col{
                    @apply flex items-baseline flex-col gap-y-[20px];
                }  
            }
        }
  
        /*----====Card content====----*/
        &_content{
            @apply w-fit h-auto;
  
           
            &_grid{
  
                 /*----====Card content grid 1 row====----*/
                &_I{
                    @media (min-width: 768px){
                        grid-template-columns: repeat(3, 1fr);
                    }
                    @media (min-width: 1024px){
                        grid-template-columns: repeat(1, 1fr);
                    }
                    @apply w-full h-auto grid lg:grid-cols-1 gap-y-[20px];
  
                    li{
                        @apply w-full text-left flex items-center justify-start gap-x-[8px];
  
                        span{
                            @apply w-[7px] h-[7px] rounded-[2px];
                        }
  
                        p{
                            @apply text-[0.688rem] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];
  
                            span{
                                @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
                            }
                        }
                    }
                }
  
                /*----====Card content grid 2 row====----*/
                &_II{
                    @apply w-auto h-auto grid grid-cols-3 lg:grid-cols-2 gap-x-[20px] gap-y-[20px];
  
                    li{
                        @apply text-left flex items-center gap-x-[8px];
  
                        span{
                            @apply min-w-[7px] h-[7px] rounded-[2px];
                        }
  
                        p{
                            @apply text-[0.688rem] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];
  
                            span{
                                @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
                            }
                        }
                    }
                }
  
                /*----====Card content grid 3 row====----*/
                &_III{
                    @apply w-full h-auto grid grid-cols-3 gap-x-[20px] gap-y-[20px];
  
                    li{
                        @apply w-full text-left flex items-center justify-center gap-x-[6px];
  
                        span{
                            @apply w-[7px] h-[7px] rounded-[2px];
                        }
  
                        p{
                            @apply text-[0.688rem] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];
  
                            span{
                                @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
                            }
                        }
                    }
                }
            }
        }
  
        /*----====default card====----*/
        @apply p-[20px] rounded-[10px];
  
        /*----====White bg card with border====----*/
        &_light{
            &_shadow{
                @apply p-[15px] rounded-[10px] bg-lh-white grid grid-cols-2;
                box-shadow: 0 8px 26px rgba(20, 107, 255, 11%);
            }
        }
        
        /*----====White bg card with border====----*/
        &_light{
            &_b{
                @apply p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;
            }
        }
  
         /*----====White bg card with border & drop shadow====----*/
         &_light{
            &_b{
                &_shadow{
                    @apply p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;
                    box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);
                }
            }         
         }
  
        /*----====Light bg card without border====----*/
        &_light{
            @apply w-full p-[20px] rounded-[10px] bg-lh-white;
        }
  
        /*----====Dark bg card without border====----*/
        &_dark{
         @apply w-full p-[20px] rounded-[10px] bg-[url('../../assets/card-dark-bg.svg')] bg-cover;
        }
    }
}
  
  
  /*----====Reusabe input field date with custom icon====----*/
  .input{
    &_field{
        &_type{
  
            /*----====blue border with custom date icon input field====----*/
            &_b{
                &_dark{
                    @apply w-fit rounded-[6px] border border-solid border-lh-blue-400 px-[14px] py-[11px] text-[10px] font-normal text-lh-blue-400 bg-transparent outline-none h-[40px]; 
  
                    &::-webkit-calendar-picker-indicator{
                        @apply w-[18px] h-[18px] bg-[url('../../../assets/date-icon-dark.svg')] bg-cover block;
                    }
    
                    &::placeholder{
                            @apply text-[10px] font-normal text-lh-blue-400;
                    }
                }
  
                /*----====white border with custom date icon input field====----*/
                &_light{
                    @apply w-fit rounded-[6px] border border-solid border-lh-white px-[14px] py-[11px] text-[0.625rem] font-normal text-white outline-none bg-transparent;
                    
                    &::-webkit-calendar-picker-indicator{
                        @apply w-[18px] h-[18px] bg-[url('../../../assets/date-icon-light.svg')] bg-cover block;
                    }
  
                    &::placeholder{
                            @apply text-[0.625rem] font-normal text-lh-white;
                    }
                }
            }
        }
    }
}
