/* ----================All types of buttons================----*/

/* ----==active / primary button==----*/
.primary {
  @apply w-fit rounded-[50px] bg-lh-blue-400 text-[15px] font-semibold px-[41px] py-[18px] flex items-center justify-center gap-x-[8px] hover:gap-x-[12px] text-lh-white cursor-pointer;
  transition: 0.3s;

  svg {
    @apply w-[10px] h-auto fill-lh-white;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 2);
  }
}

/* ----==outline Light button==----*/
.outlineLight {
  @apply w-fit rounded-[50px] bg-transparent px-[35px] py-[18px] text-[16px] leading-normal flex items-center gap-x-[8px] hover:gap-x-[12px] text-lh-white font-bold  border border-solid border-lh-white cursor-pointer hover:text-lh-blue-400 hover:bg-lh-white;
  transition: 0.3s;

  & svg {
    @apply fill-lh-white w-[10px] h-auto;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 2);
  }
  &:hover svg {
    @apply fill-lh-blue-400;
  }
}

/* ----==outline Light button==----*/
.outlineDark {
  @apply w-fit rounded-[50px] bg-transparent px-[35px] py-[18px] text-[1rem] flex items-center gap-x-[8px] hover:gap-x-[12px] text-lh-blue-400 font-bold  border border-solid border-lh-blue-400 cursor-pointer hover:text-lh-white hover:bg-lh-blue-400;
  transition: 0.3s;

  & svg {
    @apply fill-lh-blue-400  w-[10px] h-auto;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 2);
  }
  &:hover svg {
    @apply fill-lh-white;
  }
}

/* ----==Outline Light Blue button==----*/
.outlineInfo {
  @apply w-fit rounded-[50px] px-[11px] py-[9px] text-[11px] leading-normal flex items-center gap-x-[8px] hover:gap-x-[12px] text-lh-skyblue hover:text-lh-white font-bold  border border-solid border-lh-skyblue cursor-pointer bg-lh-skyblue-10 hover:bg-lh-skyblue;
  transition: 0.3s;

  & svg {
    @apply w-[10px] h-auto fill-lh-skyblue;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 2);
  }
  &:hover svg {
    @apply fill-lh-white;
  }
}

/* ----==outline Success button==----*/
.outlineSuccess {
  @apply w-fit rounded-[50px] px-[11px] py-[9px] text-[11px] leading-normal font-normal flex items-center gap-x-[8px] hover:gap-x-[12px] text-lh-success hover:text-lh-white  border border-solid border-lh-success cursor-pointer bg-lh-success-10 hover:bg-lh-success;
  transition: 0.3s;

  & svg {
    @apply w-[10px] h-auto fill-lh-success;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 2);
  }
  &:hover svg {
    @apply fill-lh-white;
  }
}

/* ----==Outline Danger button==----*/
.outlineDanger {
  @apply w-fit rounded-[50px] px-[11px] py-[9px] text-[11px] leading-normal font-normal flex items-center gap-x-[8px] hover:gap-x-[12px]  text-lh-danger hover:text-lh-white border border-solid border-lh-danger cursor-pointer bg-lh-danger-10 hover:bg-lh-danger;
  transition: 0.3s;

  & svg {
    @apply w-[10px] h-auto fill-lh-danger;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 2);
  }
  &:hover svg {
    @apply fill-lh-white;
  }
}

/* ----==Text Link button==----*/
.TextLink{
  @apply text-[14px] text-lh-blue-400 hover:text-lh-blue-dark flex items-center gap-x-[8px] hover:gap-x-[12px] bg-transparent;
  transition: .3s;

  svg{
    @apply w-[10px] h-auto fill-lh-blue-400;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 2);

    &:hover svg{
      @apply fill-lh-blue-dark;
    }
  }
}

/* ----==Trash button==----*/
.Trash{
  @apply w-[20px] h-[25px] p-0 bg-cover bg-no-repeat mx-auto bg-center; 
  background: url(../../../../../../apps/lender/src/assets/trash-icon.svg) transparent no-repeat;

  svg{
    @apply hidden;
  }
}