/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  @apply flex flex-col flex-1 justify-center items-center mt-20;
}

.lh_blog_post_data {
  @apply mt-0 px-10 py-20 w-4/12;
  @apply border-solid border border-lh-border-color rounded-lg shadow-[0_12px_75px_rgba(2,167,233,.15)];
  @media (max-width: 992px) {
    width: 50% !important;
  }
  @media (max-width: 768px) {
    width: 100% !important;
  }
  &:hover {
    @apply shadow-[0_12px_75px_rgba(2,167,233,.15)];
  }
}

.lh_heading {
  @apply text-2xl font-bold;
}

.lh_subheading {
  @apply py-4 text-base;
}

.lh_c_cta {
  @apply flex flex-row;

  .lh_u_btn__simple {
    @apply text-white text-center text-[20px] mb-[30px];
  }

  .lh_u_btn__solid__icon {
    @apply text-[15px] px-[21px] py-[14px];
  }
}

.lh {
  &_u {
    &_btn {
      @apply px-5 py-3.5 inline-block transition-all ease-in-out  text-[15px] leading-5 hover:text-blue-400;
      &__rounded {
        @apply rounded-full;
      }
      &__solid {
        @apply bg-blue-600 text-white transition ease-in-out  hover:shadow-blue-400/80 hover:shadow-md hover:duration-500 hover:text-white text-[15px];
      }
    }
  }
}
