/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.lender{
    &_dashboard{
        &_header{
            @apply w-full h-auto px-[20px] pt-[18px] pb-[22px] bg-lh-white border border-solid border-b-lh-light-blue-30 border-t-0 border-l-0 border-r-0 relative;

            @media (min-width: 1440px){
                @apply px-[74px];
            }

            .lender_app_sidebar__toggleBtn{
                @apply w-[34px] h-[34px] flex items-center justify-center bg-lh-white rounded-full absolute top-[74px] left-[-15px] z-[999] no-underline outline-none;
                box-shadow: 0 5px 25px rgba(0, 0, 0, 15%);
               }

            &__wrapper{
                @apply w-full flex justify-end items-center gap-x-[34px] relative;
            }

           

               /* ----dashboard header form----*/
               &__form{
                @apply w-fit relative;
               }

               /* ----dashboard header form searchbar----*/
               &_searchbar{
                @apply w-[349px] h-[50px] rounded-[50px] px-[20px] pt-[16px] pb-[17px] text-[11px] font-normal text-lh-blue-400 border border-solid border-lh-light-blue-30 outline-none relative;
                box-shadow: 0 4px 44px rgba(74, 141, 255, 10%);

                &::Placeholder{
                    @apply text-[11px] font-normal text-lh-blue-400;
                }
               }

               /* ----dashboard header form searchbtn----*/
               &_searchbtn{
                @apply w-[22px] h-[22px] top-[50%] translate-y-[-50%] right-[20px] absolute;
               }

               /* ----dashboard header option list----*/
               ul{
                @apply min-w-fit lg:w-fit flex items-center gap-x-[20px];

                img{
                    @apply w-full object-cover;
                }
               }
        }
    }
}
