/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.lender {
  &_app {
    &_sidebar {
      @apply w-[26%] max-w-[381px] h-full top-0 left-0 bg-lh-blue-dark flex items-center
       justify-start pt-[25px] pb-[90px] flex-col z-[99] fixed overflow-x-hidden overflow-y-scroll;
       transition: .3s all;

       ::-webkit-scrollbar {
        @apply w-0 hidden;
      }
       

      /* ----lender sidebar logo----*/
      &__logo {
        @apply w-full h-auto relative;

        svg {
          @apply w-full h-auto object-cover;
        }
        img{
          @apply w-[204px] mx-auto;
        }
        .lender_app_brand_mob{
          @apply hidden;
        }
      }

      /* ----lender sidebar profile----*/
      &__profile {
        @apply w-auto mx-auto mt-[45px] relative;

        &_icon {
          @apply w-[135px] h-[135px] bg-lh-white rounded-full flex items-center justify-center relative mb-[15px];

          img {
            @apply w-[118px] h-auto bg-cover mx-auto rounded-full relative;
          }

          svg {
            @apply w-[118px] h-auto bg-cover object-cover mx-auto rounded-full relative;
          }
        }

        &_status {
          @apply w-auto h-auto relative;

          span {
            @apply w-[22px] h-[22px] bg-lh-success-20 absolute right-[15px] top-[35px] rounded-full border-[4px] border-solid border-lh-white;
          }
        }

        &__data {
          @apply w-auto mx-auto;
        }
        &_greetings {
          @apply text-[1rem] leading-normal font-normal text-center text-lh-white;
        }
        &_title {
          @apply text-[1.625rem] font-semibold leading-normal text-lh-white pt-[4px] text-center;
        }
        &_last_update {
          @apply text-[0.75rem] font-normal pt-[15px] text-center text-lh-skyblue-20;
        }
      }

      &__menu {
        @apply w-full;

        &_list {
          @apply w-full pl-[71px] pr-[48px] mt-[67px] flex justify-start items-start gap-y-[30px] flex-col;

          li {
            @apply block;

            a {
              @apply text-[1.125rem] font-normal leading-normal flex items-center gap-x-[20px] flex-row text-lh-skyblue-25 hover:text-lh-skyblue;
              transition: 0.3s;

              svg {
                @apply w-[26px] h-[26px];
                transition: 0.3s;
              }

              &:hover svg {
                @apply fill-lh-skyblue;
              }

              span{
                @apply text-[1.125rem] font-normal leading-normal block tracking-[0.015rem];
              }
            }
          }

          &_item {
            @apply w-full pt-[20px] text-[1rem] font-semibold text-lh-white uppercase border border-solid border-t-lh-skyblue-30 border-l-0 border-r-0 border-b-0 block;
            transition: .3s all;
          }
        }
      }

      ul {
        li {
        }
        svg {
          @apply fill-lh-skyblue-25;
        }
      }

      .dashboard_logout_btn {
        @apply mt-[92px];
      }
    }

    /* ----====dashboard content====----*/
    &_main {
      @apply w-full h-auto bg-lh-white float-right pl-[25.9vw] relative overflow-hidden;
      transition: .3s all;

      .lender_app_sidebar__toggleBtn{
        @apply w-[34px] h-[34px] flex items-center justify-center bg-lh-white rounded-full absolute top-[74px] left-[25%] z-[999] no-underline outline-none;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 15%);
       }

      @media (min-width: 1464px) {
        @apply pl-[381px];
      }
    }
  }
}

/* ----==offset close sidebar==----*/
.collaps_sidebar{
  @apply w-[14%] max-w-[120px] h-full top-0 left-0 bg-lh-blue-dark flex items-center
  justify-start pt-[25px] pb-[90px] flex-col z-[99] fixed;
  transition: .3s all;

  .lender_app_brand_mob{
    @apply block w-3/5 mx-auto;
  }
  .lender_app_brand{
    @apply hidden;
  }

  .lender_app_sidebar__profile{
    @apply hidden;
  }
  .lender_app_sidebar__menu_list{
    @apply pl-[45px] pr-0;

    svg {
      @apply min-w-[26px] fill-lh-skyblue-25;
    }

    span{
      @apply hidden;
    }

    .lender_app_sidebar__menu_list_item{
      @apply block pt-0;
    }
  }
}

/* ----==expand main content wrapper depend on sidebar toggle==----*/
.lender_app_main_expand{
  @apply pl-[8vw];
  @media (min-width: 1464px) {
    @apply pl-[120px];
  }

  .lender_app_sidebar__toggleBtn{
    @apply left-[10px];
   }
}



/* ----====active sidebar link====----*/
a.active_dashboard_link {
  @apply font-semibold text-lh-skyblue;

  span{
    @apply text-lh-skyblue;
    font-weight: 600 !important;
    transition: .3s all;
  }

  svg {
    @apply fill-lh-skyblue;
  }
}

/* ----====footer Copy right bar====----*/
.lh_copyright{
  @apply w-full bg-lh-black pt-[55px] pb-[54px];

  &_para{
    @apply text-center text-lh-white text-[1rem] font-normal;
  }
}



/* ----scrollbar color style modification by CSS --
::-webkit-scrollbar {
  @apply w-0 hidden;
}

::-webkit-scrollbar-track {
  @apply w-[5px] rounded-[10px];
  box-shadow: inset 0 0 5px #000;
}

::-webkit-scrollbar-thumb {
  @apply w-[5px] bg-lh-light-blue-30 rounded-[10px];
}

::-webkit-scrollbar-thumb:hover {
  @apply w-[5px] bg-lh-light-blue-30;
}
----*/