/*-- blog catagories title --*/
@mixin blog_catagories {
	@apply flex text-lh-blue-600 text-[12px] lg:text-[14px] font-medium pb-[27px];

	& span {
		@apply px-[11px] border-r-[1px] border-solid border-lh-white-50 first:pl-0 last:border-0;
	}
}
/*-- blog publish date --*/
@mixin blog_publish_date {
	@apply text-[16px] leading-[24px] font-semibold text-lh-black-light-500 pt-[20px];
}

/*-- blog select option --*/
@mixin lh_blog_form_dropdown {
	@apply text-[16px] leading-[24px] px-[20px] font-medium border border-lh-blue-light outline-none rounded-[50px];
}
/*-- blog pagination prev & next btn --*/
@mixin pagination_prev_next_btn {
	@apply min-w-[69px] h-[69px] cursor-pointer flex items-center justify-center rounded-[50px] border border-lh-blue-400 relative before:content-[''] before:w-[69px] before:h-[69px] before:left-[50%] before:bottom-[50%] before:translate-x-[-50%] before:translate-y-[50%] before:absolute before:border before:border-lh-blue-400 before:rounded-[50px] transition ease-in-out delay-150;

	& svg {
		@apply fill-lh-blue-400;
	}

	&:hover svg {
		@apply fill-lh-white;
	}
}
/*-- blog pagination num --*/

@mixin active_blue_rounded_btn{
	/*-- global fill blue button --*/

	@apply w-fit rounded-[50px] bg-lh-blue-400 px-[36px] py-[18px] leading-[24px] flex items-center gap-x-[9px] text-lh-white font-bold text-[16px] ease-in duration-300 hover:gap-x-[20px];

	& svg {
	   @apply fill-lh-white ease-in duration-300;
	}
}


