/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/


.lender{
    &_dashboard{

        /* ----====dashboard common route heading====----*/ 
        &_route{
            &_title{
                @apply w-full flex items-center justify-between pt-[0.938rem] py-[1rem] bg-lh-skyblue-35 pl-[1.75rem] pr-[1.25rem] text-[1.625rem] text-lh-blue-dark flex-wrap gap-y-[20px];
                transition: 0.4s all;
  
                @media (min-width: 1440px) {
                    @apply pr-[4.5rem];
                }
            }
  
            &_list{
              @apply w-auto flex items-center gap-x-[15px];
              transition: 0.4s all;
  
              li{
                @apply first:pr-[15px] relative before:content-[''] first:before:w-[2px] first:before:h-[14px] first:before:top-[50%] first:before:translate-y-[-50%] first:before:right-0 first:before:bg-lh-black-20 first:before:absolute;
                p{
                  @apply text-[1rem] font-medium text-lh-black-20;
                }
                span{
                  @apply text-base font-medium text-lh-skyblue;
                }
                .data_review_btn{
                  @apply text-base font-medium text-lh-skyblue p-0 hover:text-lh-blue-dark;
  
                  svg{
                    @apply hidden w-0 h-0;
                  }
                }
              }
            }
  
            &_construction{
              @apply w-full flex items-center justify-between mt-[30px] bg-lh-white pl-[1.75rem] pr-[1.25rem] text-[1.625rem] text-lh-blue-dark flex-wrap gap-y-[20px];
              transition: 0.4s all;
  
              @media (min-width: 1440px) {
                @apply pr-[4.5rem];
            }
  
              &_title{
                @apply text-[1.25rem] text-lh-black-20 font-medium;
              }
  
              &_btn{
                &_area{
                  @apply w-auto h-auto flex items-center gap-x-[20px];
                }
                &_primery{
                  @apply py-[14px] text-[0.938rem] font-semibold;
                }
                &_dark{
                  &_outline{
                    @apply py-[13px] px-[30px] text-[0.938rem] font-semibold;
                  }
                }
              }
            }
        }

      &_application{

        &_details{
            &_tab{
                @apply w-full ml-[1.25rem] mr-[1.25rem] flex justify-around space-x-2 items-center mt-[27px] border-b-2 border-lh-light-blue-30;

                @media (min-width: 1440px) {
                    @apply mr-[4.5rem];
                  }

                  &_btn{
                    &_active{
                        @apply w-full h-[44px] flex items-center justify-center bg-lh-skyblue-55 border-b-4 border-blue-500 rounded-t-md;

                        &_txt{
                            @apply flex justify-center items-center gap-x-[6px] text-[1rem] font-medium text-lh-blue-400;

                            svg{
                                @apply fill-lh-blue-400;
                            }
                        }
                    }

                    &_txt{
                        @apply w-full h-[40px] flex justify-center items-center gap-x-[6px] text-[1rem] text-lh-skyblue-55 font-medium;

                        svg{
                            @apply fill-lh-black-20;
                        }
                    }
                  }
            }
        }
      }
   }
}


/* ----====data export btn page specific====----*/
.data_export_btn{
    @apply w-[40px] h-[40px] bg-lh-blue-400 cursor-pointer rounded-[6px] flex items-center justify-center;
}
/* ----====tab btn txt page specific====----*/
.lender_dashboard_application_details_tab_btn_txt{
    @apply w-full h-[44px] flex justify-center items-center gap-x-[6px] text-[1rem] text-lh-black-20 font-medium p-0 border-none;

    svg{
        @apply fill-lh-black-20;
    }
}
/* ----====tab btn page specific====----*/
.application_tab_btn{
    @apply w-full h-[44px] flex items-center justify-center bg-lh-skyblue-55 border-b-4 border-blue-500 rounded-t-md;

    .lender_dashboard_application_details_tab_btn_txt{
        @apply w-full h-[44px] flex justify-center items-center gap-x-[6px] text-[1rem] text-lh-blue-400 font-medium p-0 border-none;

        svg{
            @apply fill-lh-blue-400;
        }
    }
}

/*----====dashboard page specific css====----*/
.select{
    /* ----dropdown select optipn common UI----*/
    &_dropdown{
      @apply w-[130px] py-[12px] px-[14px] text-[0.688rem] rounded-[6px] text-lh-blue-400 border border-solid border-lh-blue-400 font-normal bg-[url(../../assets/select-dropdown.svg)] bg-cover bg-no-repeat appearance-none outline-none bg-lh-white;
      background-position: right 14px top 50%, 0 0;
      background-size: 10px auto, 100%;
  
      /* ----dropdown select industry UI----*/
    &_industry{
      @apply w-[160px] py-[12px] px-[14px] text-[0.688rem] rounded-[6px] text-lh-blue-400 border border-solid border-lh-blue-400 font-normal bg-[url(../../assets/select-dropdown.svg)] bg-cover bg-no-repeat appearance-none outline-none bg-lh-white;
      background-position: right 14px top 50%, 0 0;
      background-size: 10px auto, 100%;
    }
    }
}




/*----====Reusable card presrts====----*/
.lh{
    &_card{
        /*----====Card wrapper====----*/
        &_wrapper{
            @apply w-full h-auto;

            /*----====Card justify baseline====----*/
            &_justify{
                &_baseline{
                    @apply flex items-baseline justify-between;
                }  
            }

            /*----====Card justify center====----*/
            &_justify{
                &_between{
                    @apply w-full h-auto flex items-center justify-between flex-wrap;
                }  
            }

            /*----====Card item center====----*/
            &_flex{
                &_center{
                    @apply w-auto h-auto flex items-center gap-[20px];
                }  
            }

            /*----====Card flex col====----*/
            &_flex{
                &_col{
                    @apply flex items-baseline flex-col gap-y-[20px];
                }  
            }
        }

        /*----====Card content====----*/
        &_content{
            @apply w-fit h-auto;

           
            &_grid{

                 /*----====Card content grid 1 row====----*/
                &_I{
                    @media (min-width: 768px){
                        grid-template-columns: repeat(3, 1fr);
                    }
                    @media (min-width: 1024px){
                        grid-template-columns: repeat(1, 1fr);
                    }
                    @apply w-full h-auto grid lg:grid-cols-1 gap-y-[20px];

                    li{
                        @apply w-full text-left flex items-center justify-start gap-x-[8px];

                        span{
                            @apply w-[7px] h-[7px] rounded-[2px];
                        }

                        p{
                            @apply text-[0.688rem] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];

                            span{
                                @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
                            }
                        }
                    }
                }

                /*----====Card content grid 2 row====----*/
                &_II{
                    @apply w-auto h-auto grid grid-cols-3 lg:grid-cols-2 gap-x-[20px] gap-y-[20px];

                    li{
                        @apply text-left flex items-center gap-x-[8px];

                        span{
                            @apply min-w-[7px] h-[7px] rounded-[2px];
                        }

                        p{
                            @apply text-[0.688rem] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];

                            span{
                                @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
                            }
                        }
                    }
                }

                /*----====Card content grid 3 row====----*/
                &_III{
                    @apply w-full h-auto grid grid-cols-3 gap-x-[20px] gap-y-[20px];

                    li{
                        @apply w-full text-left flex items-center justify-center gap-x-[6px];

                        span{
                            @apply w-[7px] h-[7px] rounded-[2px];
                        }

                        p{
                            @apply text-[0.688rem] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];

                            span{
                                @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
                            }
                        }
                    }
                }
            }
        }

        /*----====default card====----*/
        @apply p-[20px] rounded-[10px];

        /*----====White bg card with border====----*/
        &_light{
            &_shadow{
                @apply p-[15px] rounded-[10px] bg-lh-white grid grid-cols-2;
                box-shadow: 0 8px 26px rgba(20, 107, 255, 11%);
            }
        }
        
        /*----====White bg card with border====----*/
        &_light{
            &_b{
                @apply p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;
            }
        }

         /*----====White bg card with border & drop shadow====----*/
         &_light{
            &_b{
                &_shadow{
                    @apply p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;
                    box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);
                }
            }         
         }

        /*----====Light bg card without border====----*/
        &_light{
            @apply w-full p-[20px] rounded-[10px] bg-lh-white;
        }

        /*----====Dark bg card without border====----*/
        &_dark{
         @apply w-full p-[20px] rounded-[10px] bg-[url('../../assets/card-dark-bg.svg')] bg-cover;
        }
    }
}


/*----====Reusabe input field date with custom icon====----*/
.input{
    &_field{
        &_type{

            /*----====blue border with custom date icon input field====----*/
            &_b{
                &_dark{
                    @apply w-fit rounded-[6px] border border-solid border-lh-blue-400 px-[14px] py-[11px] text-[10px] font-normal text-lh-blue-400 bg-transparent outline-none; 

                    &::-webkit-calendar-picker-indicator{
                        @apply w-[18px] h-[18px] bg-[url('../../assets/date-icon-dark.svg')] bg-cover block;
                    }
    
                    &::placeholder{
                            @apply text-[10px] font-normal text-lh-blue-400;
                    }
                }

                /*----====white border with custom date icon input field====----*/
                &_light{
                    @apply w-fit rounded-[6px] border border-solid border-lh-white px-[14px] py-[11px] text-[0.625rem] font-normal text-white outline-none bg-transparent;
                    
                    &::-webkit-calendar-picker-indicator{
                        @apply w-[18px] h-[18px] bg-[url('../../assets/date-icon-light.svg')] bg-cover block;
                    }

                    &::placeholder{
                            @apply text-[0.625rem] font-normal text-lh-white;
                    }
                }
            }
        }
    }
}