@use '../base';
.lh {
  &-c {
    &-header {
      .container {
        @apply z-[9999] py-[29px];
      }
      &__row {
        @apply flex w-full items-center justify-between;
      }
      /*--mobile hamburger menu icon--*/
      #hamburger_menu {
        @apply z-40 block h-auto w-[35px] cursor-pointer lg:hidden;

        &.icon {
          .bar {
            @apply bg-lh-white;
          }
          #bar1 {
            @apply translate-y-[9px] rotate-[-45deg];
          }
          #bar2 {
            @apply opacity-0;
          }
          #bar3 {
            @apply translate-y-[-11px] rotate-[45deg];
          }
        }
      }

      .bar {
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 2);
        @apply mt-[5px] block h-[5px] w-full rounded-[5px] bg-lh-blue-dark first:mt-[0];

        #bar1 {
          @apply translate-y-[-4px];
        }

        #bar2 {
          @apply translate-y-[4px];
        }
      }

      .desktop_cta {
        @apply hidden lg:block;
      }

      .active_menu {
        @apply translate-x-[0];
      }
    }

    &-logo {
      @apply z-10 w-2/4 lg:w-2/12;
    }
  }
}
.activeBar {
  background: #fff !important;
  @apply hidden first:translate-y-[9px] first:rotate-[-45deg] first:block last:translate-y-[-1px] last:rotate-[42deg] last:block;
  &:nth-child(2){
    @apply hidden;
  }
}
