.lh {
  &_blog {
    /*----====Blog Post Section====----*/
    &_post {
      &_section {
        @apply w-full mt-[90px] mb-[52px];

        &__inner_area {
          @apply w-full;

          &__form {
            @apply w-full flex justify-between flex-col lg:flex-row gap-y-[30px];

            &__left {
              @apply w-full flex items-center;

              label {
                @apply text-[14px] leading-normal text-black mr-[15px];
              }
              .css-b62m3t-container {
                @apply w-full bg-white lg:w-[220px];

                #react-select-3-listbox {
                  @apply bg-white text-black text-[14px] leading-[37px] font-normal border-none outline-none mt-[10px] h-auto py-[12px];

                  div {
                    @apply bg-none last:pb-0 text-black;
                    background: transparent !important;
                    padding: 0 !important;
                    padding-left: 10px !important;
                    cursor: pointer;
                  }
                }
              }

              .css-13cymwt-control {
                @apply rounded-[40px] px-[20px] text-[16px] leading-[24px] pt-[8px] pb-[4px] text-black font-medium border border-blue-500 outline-none;
              }
              .css-t3ipsp-control {
                @apply rounded-[40px] px-[20px] text-[16px] leading-[24px] pt-[8px] pb-[4px] text-black font-medium border border-blue-500 outline-none;
              }
              .css-1u9des2-indicatorSeparator {
                @apply hidden;
              }
              .css-t3ipsp-control {
                @apply rounded-[40px] px-[20px] text-[16px] leading-[24px] font-medium border border-blue-500 outline-none;
              }
              path {
                @apply fill-black;
              }
            }

            .lh_blog_form_dropdown {
              @apply mt-[25px] w-full lg:mt-0 bg-white lg:w-[220px];
              //   @include base.lh_blog_form_dropdown;
            }

            &__right {
              @apply flex flex-wrap lg:flex-nowrap lg:flex-row gap-y-[30px];

              &__toggle {
                @apply w-full lg:w-[244px] px-[7px] py-[7px] h-[50px] bg-blue-200 rounded-[50px] flex relative;

                label {
                  @apply transition duration-300 ease-out;
                }

                input[type='radio'] {
                  @apply hidden transition duration-300 ease-out;

                  &:checked {
                    & + label {
                      @apply text-blue-400;
                    }
                  }
                }
              }
            }

            .lh_blog_search_area {
              @apply w-[100%] lg:w-[349px] lg:mr-[15px] relative;
            }

            input[id='toggle-1'] {
              &:checked {
                & ~ .toggle_bg {
                  transform: translateX(0);
                }
              }
            }

            input[id='toggle-2'] {
              &:checked {
                & ~ .toggle_bg {
                  @apply translate-x-[92%] sm:translate-x-[96%] lg:translate-x-[100%];
                }
              }
            }

            .toggle_tab {
              @apply w-full lg:w-fit flex items-center justify-center text-[13px] leading-normal font-bold text-blue-300 lg:flex-row pl-[33px] pr-[32px] py-[8px] cursor-pointer rounded-[50px] z-10;
            }

            .toggle_bg {
              @apply w-[50%] pl-[33px] pr-[32px] py-[8px] cursor-pointer rounded-[50px] bg-white absolute flex lg:w-[115px] h-[36px] top-[7px] transition duration-300 ease-out;
              border-radius: 99px; // just a high number to create pill effect
              box-shadow: 0px 1px 14px #d2e3ff;
            }
          }
        }
      }
    }
  }
  &_search {
    &_wrapper {
      @apply w-full flex relative rounded-[50px];

      #mySearch {
        @apply min-w-full py-[22px] px-[30px] rounded-[50px] h-[50px] border border-blue-200 outline-none relative;

        &::placeholder {
          @apply italic text-blue-300 text-[14px] font-normal;
        }
      }

      .lh_blog_search_btn {
        & .lh_blog_search_icon {
          @apply w-[19px] h-[19px] absolute right-[30px] top-[15px];
        }
      }
    }
  }
}

.lh_blog_search_area {
  @apply w-[100%] lg:w-[349px] lg:mr-[15px] relative;
}
