/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.lender{
    &_header{
        @apply w-full h-auto px-[72px] pt-[18px] pb-[22px] bg-lh-white border border-solid border-b-lh-white-80 border-t-0 border-l-0 border-r-0 relative flex items-center justify-center;
        @media (min-width: 830px){
            @apply justify-between;
        }

        &__brand{
            @apply w-[202px] h-auto relative;

            img{
                @apply w-full h-full bg-cover;
            }
        }

        &__option{
            &_list{
                @apply hidden w-fit items-center gap-x-[22px];
                @media (min-width: 830px){
                    @apply flex;

                    a{
                        @apply text-[14px] font-normal text-lh-black-20 hover:text-lh-blue-dark;
                        transition: .3s;
                    }
                }
            }

            &_btn{
                @apply text-[15px] font-semibold text-lh-white py-[14px] px-[30px];
            }
        }
    }
}
