/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.lender{
  &_login{
    &_section{
      @apply w-full h-auto bg-lh-white flex items-center justify-start flex-col pt-[60px] pb-[152px];

      &__heading{
        @apply text-[26px] leading-normal font-semibold text-lh-blue-dark text-center pb-[10px] capitalize;
      }
      &__para{
        @apply text-[16px] text-lh-black-20 font-normal text-center;
      }
    }

    &_panel{
      @apply w-fit h-auto rounded-[10px] border border-solid border-lh-light-blue-30 mx-auto mt-[30px];
      box-shadow: 0 4px 15px rgba(20,107, 255, 8%);

      @media (max-width: 500px){
        @apply w-[90%];
      }

      &_btn{
        @apply w-full py-[20px];
      }
  }

  &__form{
    @apply w-full py-[40px] px-[20px] md:p-[60px] flex items-center justify-center flex-col mx-auto gap-y-[30px];

    input[type='number']{
      @apply w-[60px] h-[80px] sm:w-[89px] sm:h-[111px] rounded-[4px] border border-solid border-lh-light-blue-30 text-center font-normal text-lh-black-20 outline-none overflow-hidden appearance-none; 
      -moz-appearance: textfield;
      appearance: none;
    }

    /* ----====remove arrow from input num====----*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* ----====remove arrow from input num====----*/
    input[type=number] {
      -moz-appearance: textfield;
    }
    

    &_group{
      @apply flex gap-x-[20px];
    }

  }


  &_otptime{
    &_para{
      @apply text-[14px] leading-normal font-normal text-lh-black-20 flex items-center justify-center gap-x-[5px] w-full;
    }

    &_count{
      @apply text-[14px] leading-normal font-normal text-lh-danger-20;
    }

    &_resend{

      &_para{
        @apply text-[14px] leading-normal font-normal text-lh-black-20 flex items-center justify-center gap-x-[5px];
      }
      &_code{
        @apply text-[14px] leading-normal font-medium text-lh-blue-400 underline decoration-lh-blue-400; 
      }
      
    }
}
}
}

.lh_copyright{
  @apply w-full bg-lh-black pt-[55px] pb-[54px];

  &_para{
    @apply text-center text-lh-white;
  }
}
