.testanimation {
	@apply w-96 mx-auto h-96 bg-lh-blue-400;
}
.lh{
	&_how{
		&_work{
				&_animate{
					&_section{
						@apply w-full xl:w-[1136px] h-auto lg:h-[295px] mt-[65px] relative mx-auto;
						counter-reset: animate;
					}
					&_content{
						@apply w-full md:w-[30%] lg:w-[173px] relative flex items-center flex-col mt-0 lg:mt-[12.5%] before:content-[''] before:absolute before:text-[162px] before:font-bold before:top-[-34%] before:left-[50%] before:translate-x-[-50%]
						after:content-[''] after:w-[15px] after:h-[15px] after:bg-lh-white after:top-[6%] after:rounded-full after:absolute z-10;
						animation: animation_content 450ms normal forwards;

						&::before{
							counter-increment: animate;
                            content: counter(animate);
							color: rgb(20, 107, 255, 15%);
						}

						.animate_content_check_icon{
							@apply relative bg-cover bg-lh-green-500 py-[13px] px-[12px] rounded-full z-10;
						}
						.animate_content_para{
							@apply font-medium text-lh-black leading-normal text-center mt-[10px];
						}

						&.animate_step1{
							@apply opacity-0 before:content-[''] before:absolute before:text-[162px] before:font-bold lg:before:top-[-40%] xl:before:top-[-33%];
							animation: animate_step1 normal 1s forwards;
							animation-delay: 450ms;
							&::before{
								counter-increment: animate;
								content: counter(animate);
								color: rgb(20, 107, 255, 15%);
							}
						}

						&.animate_step2{
							@apply opacity-0 before:content-[''] before:absolute before:text-[162px] before:font-bold lg:before:top-[-16%] xl:before:top-[-18%];
							animation: animate_step2 normal 1s forwards;
							animation-delay: 500ms;
							&::before{
								@apply top-[-20%] sm:top-[-24%] lg:top-[-15%];

								counter-increment: animate;
								content: counter(animate);
								color: rgb(20, 107, 255, 15%);
							}
							.animate_content_check_icon{
								@apply mt-[10px];
							}
						}
						&.animate_even{
							@apply mt-[18%] md:mt-[21%] lg:mt-[24%] xl:mt-[21%];
						}
						&.animate_step3{
							@apply mt-[15%] md:mt-0 lg:mt-[12%] xl:mt-[10%] opacity-0;
							animation: animate_step3 normal 2s forwards;
							animation-delay: 550ms;	
						}
						&.animate_step4{
							@apply mt-[15%] opacity-0 md:mt-[10%] lg:mt-[23%] xl:mt-[20%] before:content-[''] before:absolute before:text-[162px] before:font-bold before:top-[-20%];	
							animation: animate_step4 normal 2s forwards;
							animation-delay: 600ms;	
							&::before{
								counter-increment: animate;
								content: counter(animate);
								color: rgb(20, 107, 255, 15%);
							}
						}
						&.animate_step5{
							@apply opacity-0 mt-[15%] md:mt-0 lg:mt-[14.5%] before:content-[''] before:absolute before:text-[162px] before:font-bold lg:before:top-[-28%] xl:before:top-[-25%];	
							animation: animate_step5 normal 2s forwards;
							animation-delay: 650ms;	
							&::before{
								counter-increment: animate;
								content: counter(animate);
								color: rgb(20, 107, 255, 15%);
							}
						}
						&.animate_step6{
							@apply opacity-0 md:mt-[10%] lg:mt-[23%] xl:mt-[22%] before:content-[''] before:absolute before:text-[162px] before:font-bold before:top-[-15%]  md:before:top-[-17%] xl:before:top-[-17%];	
							animation: animate_step6 normal 3s forwards;
							animation-delay: 700ms;	
							&::before{
								counter-increment: animate;
								content: counter(animate);
								color: rgb(20, 107, 255, 15%);
							}
						}
					}
				}

				&_progress{
					&_bar{
						@apply w-full h-auto lg:h-[25px] bg-white mx-auto relative flex items-center flex-wrap lg:flex-nowrap gap-x-[20px] rounded-[25px] before:content-[''] before:hidden lg:before:block before:w-0 before:h-full lg:before:top-[-48%] xl:before:top-0 before:left-[50%] before:translate-x-[-50%] before:bottom-0 before:absolute before:bg-lh-black-50 before:rounded-[25px]
						after:content-[''] after:w-0 after:hidden lg:after:block after:h-full lg:after:top-[-48%] xl:after:top-0 after:bottom-0 after:left-[50%] after:translate-x-[-50%] after:absolute after:bg-lh-blue-400 after:rounded-[25px];
						counter-reset: animate;
						&:before{
							@apply lg:max-w-[88%] xl:max-w-full;
							animation: animation_bar_loading 200ms normal forwards;
						}
						&:after{
							@apply lg:max-w-[88%] xl:max-w-full;
							animation: animation_progress normal 400ms forwards;
							animation-delay: 450ms;
						}
					}
				}
		}
	}
}

/* ----==animation bar animation==----*/
@keyframes animation_bar_loading{
	0%{
		width: 0;
		left: 0;
	}
	100%{
		width: 984px;
	}
}
/* ----==animation progress bar animation==----*/
@keyframes animation_progress{
	0%{
		width: 0;
		left: 0;
	}
	100%{
		width: 984px;
	}
}

@keyframes animate_step1 {
	0%{
		top: -50%;
		opacity: 0;
	}
	100%{
		top: 0;
		opacity: 1;
	}
}

@keyframes animate_step2 {
	0%{
		top: -50%;
		opacity: 0;
	}
	100%{
		top: 0;
		opacity: 1;
	}
}
@keyframes animate_step3 {
	0%{
		top: -50%;
		opacity: 0;
	}
	100%{
		top: 0;
		opacity: 1;
	}
}
@keyframes animate_step4 {
	0%{
		top: -50%;
		opacity: 0;
	}
	100%{
		top: 0;
		opacity: 1;
	}
}
@keyframes animate_step5 {
	0%{
		top: -50%;
		opacity: 0;
	}
	100%{
		top: 0;
		opacity: 1;
	}
}
@keyframes animate_step6 {
	0%{
		top: -50%;
		opacity: 0;
	}
	100%{
		top: 0;
		opacity: 1;
	}
}
/* ----==animation content popup animation==----*/
@keyframes animation_content{
	0%{

	}
	100%{

	}
}
