/*----==lh breadcrumbs text==----*/
.lh {
	&_breadcrumbs {
		@apply text-[13px] leading-[20px] font-normal text-lh-black-light;

		&_links {
			@apply text-[13px] leading-[20px] font-medium text-lh-blue-400;
		}
	}
	/*----==lh parent mark slug==----*/
}
