/*----==lh banner check list row view with icon==----*/
.lh{
    &_banner{
        &_check{
            &_list{
                @apply flex flex-wrap gap-x-[21px] gap-y-[18px] list-none mb-[36px];

                li{
                    @apply relative pl-[32px] py-0 my-0 text-[18px] leading-[27px] text-lh-black-light before:content-[''] after:content-[''];

                    &::before {
                        @apply w-[11px] h-[8px] absolute object-cover block top-[50%] left-[5px] translate-y-[-4px] bg-[url('/assets/Vector.svg')];
                        
                    }

                    &::after {
                        @apply w-[21px] h-[21px] block absolute object-cover border-2 border-lh-blue-400 rounded-full top-[50%] left-0 translate-y-[-50%];
                    }
                }
            }
        }
    }

    /*----==lh banner check list column view with icon==----*/
    &_check{
        &_list{
            &_col{
                @apply list-none flex flex-col gap-y-[16px];

                li {
                    @apply relative pl-[32px] py-0 my-0 text-[16px] leading-normal text-lh-black-light before:content-[''] after:content-[''];
            
                    &::before {
                        @apply w-[11px] h-[8px] absolute object-cover block top-[50%] left-[5px] translate-y-[-4px] bg-[url('/assets/Vector.svg')];
                    }
            
                    &::after {
                        @apply w-[21px] h-[21px] block absolute object-cover border-2 border-lh-blue-400 rounded-full top-[50%] left-0 translate-y-[-50%];
                    }
                }
            }
        }
    }
}