@use '../base';

/*----====lh home & success section====----*/
.lh {
	&-c {
		&__kickstart {
			@apply bg-lh-blue-400 py-[56px];
		}

		&__kickstar-main {
			@apply flex justify-center flex-wrap items-center lg:justify-between;
		}

		&__kickstar-heading {
			@apply lg:w-[65%] sm:w-full;
		}

		&__kickstar-heading-text {
			@apply text-lh-white font-semibold text-[32px] leading-normal lg:text-[43px] text-center lg:leading-tight lg:text-left sm:text-center pb-[35px] lg:pb-0;

			& br {
				@apply hidden lg:block;
			}
		}

		&__kickstar-heading-text-span {
			@apply lg:block sm:inline-block;
		}

		&__btn-white {
			@apply flex items-center flex-col sm:w-full lg:w-2/6 sm:mt-9 lg:mt-0;
		}

		&__getstarted {
			@apply text-lh-white pt-[17px] text-[16px] leading-[27px];
		}

		&__getstarted-link {
			@apply underline font-semibold;
		}
	}

    /* ----==Solution sedule section==----*/
	&_solution{
		&_sedule{
			&_heading{
				@apply text-[30px] md:text-[40px];
			}
		}
	}

	/* ----==Mission sedule section==----*/
	&_mission{
		&_sedule{
			@apply pt-[68px] pb-[76px];

			&_heading{
				@apply text-[30px] md:text-[40px];
			}
		}
	}

	/* ----==Process sedule section==----*/
	&_process{
		&_sedule{
			@apply py-[68px];

			&_heading{
				@apply text-[30px] md:text-[40px];
			}
		}
	}
    /* ----==Feaure sedule section==----*/
	&_feature{
        &_sedule{
            @apply pt-[68px] pb-[76px];
        }
     }
	

	 &_how{
		&_work{
			&_sedule{
				&_heading{
					@apply text-[30px] lg:text-[40px] leading-normal;
				}
			}
		}
	 }
	
}
/*----====lh home & success section====----*/
