@use '../base';

.lh{
	&_faq{
		&_section{
			@apply w-full mt-[90px] mb-[90px] overflow-hidden;

			.panel {
				@apply w-full lg:w-[752px] mx-auto pr-[15px] bg-lh-white max-h-0 overflow-hidden;
				transition: max-height 0.2s ease-out;
		
				p {
					@apply leading-[30px];
				}
			}
		}

		&_heading{
			@apply text-[28px] leading-normal pb-[77px] lg:text-[40px] lg:leading-[55px] text-lh-blue-dark font-medium text-center;
		}

		&_btn {
			@apply w-fit mx-auto px-[43px] leading-[24px] py-[23px] mt-[134px];
	
			&:hover {
				@apply gap-x-[25px];
			}
	
			svg {
				@apply fill-lh-white ease-in duration-300;
			}
		}
	}
	&_accordion{
		@apply w-full lg:w-[752px] mx-auto text-left text-lh-black text-[24px] leading-[34px] font-semibold outline-none flex items-center justify-between cursor-pointer pt-[30px] pb-[28px] transition ease-in-out delay-150 border-b border-lh-border-bottom;

		&.last_accordion {
			@apply border-none;
		}

		svg {
			@apply transition ease-in-out delay-150;
	
			path {
				@apply ease-in-out delay-150;
			}
	
			circle {
				@apply ease-in-out delay-150;
			}
		}

		&:hover {
			@apply text-lh-blue-400;
		}

		&:hover svg {
			path {
				@apply fill-lh-blue-400;
			}
	
			circle {
				@apply stroke-lh-blue-400;
			}
		}
		&.active svg {
			@apply rotate-90;
	
			path {
				@apply fill-lh-blue-400;
			}
			circle {
				@apply stroke-lh-blue-400;
			}
		}
	}
}
/*----====lh faq section====----*/