.lh{
    /*----==global two column section top align==----*/
	&_two{
		&_column{
			&_top{
				&_align{
					@apply w-full;

					.container{
						@apply flex flex-wrap lg:flex-nowrap;
					}
				}
			}
			&__content{
				@apply w-full basis-full lg:max-w-[50%] lg:basis-[50%];
			}
			&_heading{
				@apply text-[26px] leading-[39px] pb-[20px] font-medium;
				br{
					@apply hidden 2xl:block;
				}
			}
			&_para{
				@apply text-[16px] font-normal leading-[24px] text-lh-black-light-400;
			}

			&__img{
				@apply w-full basis-full lg:max-w-[50%] lg:basis-[50%] relative;

				img{
					@apply w-full lg:w-auto mx-auto;
				}
			}
			&_icon{
				@apply absolute w-full h-full;
			}
			&_icon1{
				@apply absolute h-[105px] bottom-[12%] right-[14%] border-0 border-none border-b-0  md:right-[18%] lg:right-[20%] 2xl:right-[25%] object-cover z-10;
				width: auto !important;
			}
			&_icon2{
				@apply absolute w-full h-[105px] top-[12%]  border-0 border-none border-b-0 right-[2%] sm:right-[13%] md:right-[6%] lg:right-[4%] xl:right-[10%] 2xl:right-[15%] object-cover z-10;
				width: auto !important;
			}
			&_icon3{
				@apply absolute w-full h-[105px] top-[12%] left-0 border-0 border-none border-b-0 sm:left-[13%] md:left-[19%] lg:left-[4%] xl:left-[10%] 2xl:left-[15%] object-cover z-10;
				width: auto !important;
			}
			&_icon4{
				@apply absolute w-full h-[201px] bottom-0 right-0 border-0 border-none border-b-0 sm:right-[13%] md:right-[19%] lg:right-[4%] xl:right-[10%] 2xl:right-[15%] object-cover z-10;
				width: auto !important;
			}
			&_icon5{
				@apply absolute w-full h-[180px] md:h-[215px] bottom-0 left-0 sm:left-[115px] lg:left-0 border-0 lg:bottom-[55px] xl:bottom-0 border-none border-b-0 object-cover z-10;
				width: auto !important;
			}
			&_icon6{
				@apply absolute w-full h-[80px] right-[20px] top-[50px] sm:top-[28px] border-0 border-none border-b-0 sm:right-[19%] md:right-[24%] lg:right-[10%] xl:right-[15%] 2xl:right-[20%] object-cover z-10;
				width: auto !important;
			}
			&_icon7{
				@apply absolute w-full h-[278px] right-0 bottom-[-8px] border-0 border-none border-b-0 object-cover z-10;
				width: auto !important;
			}
		}
	}

	/*----==global two column section set2==----*/
	&_text{
		&_icon{
			&_column{
				@apply flex items-start justify-start flex-wrap lg:flex-nowrap gap-x-[28px];

				&_bg{
					@apply w-auto h-[200px] object-cover relative mx-auto rounded-[15px] z-10;
				}
				&_icon1{
					@apply absolute left-[-46px] top-[10px];
				}
				&_icon2{
					@apply absolute right-0 2xl:right-[160px] top-[10px];
				}
			}
			&_img_group{
				@apply w-full basis-full lg:w-[30%] lg:basis-[30%] relative;
			}
			&_content{
				@apply w-full basis-full lg:w-[70%] lg:basis-[70%] relative;
			}
		}
	}

	&_about_lending_operations{
		img{
			@apply w-full object-cover;
		}
	}
}