/*----==lh global contact form==----*/
.form{
	&_group{
		@apply flex gap-x-[30px] gap-y-[35px] flex-wrap;

		.form_name_filed{
			@apply w-full lg:w-[50%] xl:w-[482px] 2xl:w-[50%] h-[68px] text-left;
		}
		.form_company_filed{
			@apply w-full lg:w-[46%] xl:w-[471px] 2xl:w-[47%] h-[68px] text-left;
		}
		.form_email_filed{
			@apply w-full lg:w-[50%] xl:w-[482px] 2xl:w-[50%] h-[68px] text-left;
		}
		.form_num_filed{
			@apply w-full lg:w-[46%] xl:w-[471px] 2xl:w-[47%] h-[68px] text-left;
		}
		.form_message_filed{
			@apply w-full text-left;
		}
			label{
				@apply text-[15px] leading-[30px] font-normal text-lh-black-550 relative top-[15px] z-10 px-[10px] bg-lh-white left-[33px];
			}
			.form_required{
				@apply text-[15px] leading-[30px] font-normal text-lh-requred;
			}
			input[type=text]{
				@apply w-full h-full border border-solid border-lh-black-450 rounded-[5px] px-[35px] outline-none relative;
			}
			input[type=email]{
				@apply w-full h-full border border-solid border-lh-black-450 rounded-[5px] px-[35px] outline-none relative;
			}
			textarea{
				@apply w-full h-[181px] border border-solid border-lh-black-450 rounded-[5px] px-[35px] outline-none relative;
			}

			.form_submit_btn_area{
				@apply w-full;
			}
	}
}

/*----==lh global address list==----*/
.lh{
	&_address{
		&_list{
			@apply flex flex-col gap-y-[33px];

			.lh_address_item{
				@apply flex items-start gap-x-[14px] relative;

				p{
					@apply text-[20px] leading-[30px] text-lh-black-light-400 font-normal pr-0;
					a{
						@apply no-underline;
					}
				}
			}
		}
	}
}