.lh {
  &_loading {
    @apply absolute bottom-0 left-0 right-0 top-0 z-[99] flex h-full w-[100%] flex-col items-center justify-center bg-white lg:h-[100vh];

    img {
      @apply mx-auto w-[60px] object-cover;
    }

    p {
      @apply pt-[20px] font-medium text-lh-blue-400;
    }
  }
}
