@use '../base';
/*----==pagination section with prev & next button==----*/
.lh {
	&_pagination_section {
		@apply w-full pt-[40px] pb-[150px] sm:pt-[20px] lg:pt-[52px] sm:pb-[90px];

		&__area {
			@apply mx-auto;

			.lh_pagination {
				@apply w-full md:w-[80%] lg:w-[454px] mx-auto flex items-center justify-between gap-x-[15px] flex-wrap sm:flex-nowrap lg:gap-x-[30px] relative;

				.lh_pagination_number {
					@apply w-full sm:w-full mx-auto flex items-center justify-between gap-x-[15px] lg:gap-x-[10px];
				}

				.pagination_num {
					@apply text-[16px] text-lh-blue-400 font-normal relative w-[45px] h-[45px] rounded-[50px] flex items-center justify-center transition ease-in-out delay-150;

					&:hover {
						@apply bg-lh-blue-400 text-lh-white rounded-[50px];
					}
				
					&.active_num {
						@apply bg-lh-blue-400 text-lh-white rounded-[50px];
					}
				}

				.lh_pagination_prev {
					@apply min-w-[69px] h-[69px] cursor-pointer flex items-center justify-center rounded-[50px] border border-lh-blue-400 relative before:content-[''] before:w-[69px] before:h-[69px] before:left-[50%] before:bottom-[50%] before:translate-x-[-50%] before:translate-y-[50%] before:absolute before:border before:border-lh-blue-400 before:rounded-[50px] absolute top-[150px] left-[25%] sm:relative sm:top-0 sm:left-0 transition ease-in-out delay-150;

					svg {
						@apply fill-lh-blue-400;
					}
					&:hover {
						@apply bg-lh-blue-400;
					}
					&:hover svg {
						@apply fill-lh-white;
					}

					
				}

				.lh_pagination_next {
					@apply min-w-[69px] h-[69px] cursor-pointer flex items-center justify-center rounded-[50px] border border-lh-blue-400 relative before:content-[''] before:w-[69px] before:h-[69px] before:left-[50%] before:bottom-[50%] before:translate-x-[-50%] before:translate-y-[50%] before:absolute before:border before:border-lh-blue-400 before:rounded-[50px] transition ease-in-out delay-150 absolute top-[36px] right-[-60%] sm:relative sm:top-0 sm:right-0;

					svg {
						@apply fill-lh-blue-400;
					}
					&:hover {
						@apply bg-lh-blue-400;
					}
					&:hover svg {
						@apply fill-lh-white;
					}
				}
			}
		}
	}
}
/*----==prev & next arrow button==----*/
.lh {
	&_arrow {
		&_prev {
			@include base.pagination_prev_next_btn;
			@apply relative sm:top-0 sm:left-0 min-w-[54px] h-[54px] before:w-[54px] before:h-[54px] hover:bg-lh-blue-400;
		}
	}
}

.lh {
	&_arrow {
		&_next {
			@include base.pagination_prev_next_btn;
			@apply relative sm:top-0 sm:right-0 min-w-[54px] h-[54px] before:w-[54px] before:h-[54px] hover:bg-lh-blue-400;
		}
	}
}
