@use '../base';
/*----====lh homepage lending power section card====----*/
.lh{
	&_card{
		&_wrapper{
			@apply flex items-start justify-between flex-wrap gap-8 pt-[96px];
		}

		&_inline{
			&_icon{
				&_para{
					@apply bg-lh-white rounded-[20px] h-auto lg:h-[240px] py-8 pt-[33px] px-[30px] pb-[40px] lg:w-[48%] flex gap-x-[29px] items-center text-center md:text-left flex-col md:flex-row md:items-start sm:w-full;

					.card_content {
						.card_heading {
							@apply text-[20px] leading-[30px] pb-[15px] text-lh-black font-medium lg:pr-[16%] xl:pr-[30%];
						}
						.card_pahragraph {
							@apply text-[16px] leading-[24px] text-lh-black-light;
						}
					}
				}
			}

			&_icon{
				@apply w-[81px] h-[78px] shadow-md bg-lh-blue-400 rounded-lg px-[15px] py-[14px] mb-[30px] md:mb-0;
			}
		}
	}

    /*----====lh number card section used on about page====----*/
	&_num {
		&_card {
			&_wrapper {
				@apply w-full flex items-start mt-[60px] gap-x-[30px] gap-y-[30px] lg:gap-x-[34px] xl:gap-x-[36px] lg:gap-y-[60px] flex-wrap;

				.lh_num_card {
					@apply w-full sm:w-[47%] lg:w-[31%];

					.lh_num_card_num {
						@apply text-[40px] leading-[60px] font-medium text-lh-blue-450;
					}

					.lh_num_card_title {
						@apply text-[20px] leading-[44px] font-medium text-lh-black pb-[8px];
					}

					.lh_num_card_para {
						@apply text-[16px] leading-[24px] font-normal text-lh-black-light;
					}
				}
			}
		}
	}
	/*----====lh blog post masonery grid column used on blog page====----*/
	&_blog {
		&_post {
			&_grid {
				&_wrapper {
					@apply mt-[40px] gap-[20px] columns-1 sm:columns-2 lg:columns-3;
				}
			}
		}
	}
	/*----====lh blog post masonery grid column used on blog page====----*/
	&_blog {
		&_post {
			&_data {
				@apply rounded-[10px] border border-solid border-lh-blue-150 overflow-hidden mb-[20px];
				break-inside: avoid;

				img {
					@apply w-full object-cover;
				}
			}

			&_card {
				@apply w-full py-[22px] px-[20px];
			}

			&_cat_title {
				@include base.blog_catagories;
			}

			&_cat_date {
				@include base.blog_publish_date;
			}

			&_title{
				@apply text-[26px] font-medium leading-[34px] text-lh-black text-left;
			}
		}
	}

    /*----====lh blog post column section====----*/
	&_blog{
		&_post{
			&_data{
				@apply rounded-[10px] border border-solid border-lh-blue-150 overflow-hidden mb-[20px];
	            break-inside: avoid;
				&:hover{
					box-shadow: 0 12px 75px rgba(2, 167, 233, 15%);
				}
			}

			&_title{
				@apply text-[26px] font-medium leading-[34px] text-lh-black text-left;
			}

			&_card{
				@apply w-full py-[22px] px-[20px];
			}
			img {
				@apply w-full object-cover;
			}
			&_cat_title{
				@apply flex text-lh-blue-600 text-[12px] xl:text-[14px] font-medium leading-[21px] pb-[27px];
			}
			&_date{
				@apply text-[16px] leading-[24px] font-semibold text-lh-black-light-500 pt-[20px];
			}
		}
	}
}
