.lh{
    &_search{
        &_wrapper{
            @apply w-full flex relative rounded-[50px];

            #mySearch{
                @apply min-w-full py-[22px] px-[30px] rounded-[50px] h-[50px] border border-lh-blue-light outline-none relative;

		&::placeholder {
			@apply italic text-lh-blue-350 text-[14px] font-normal;
		}
            }

            .lh_blog_search_btn {
                & .lh_blog_search_icon {
                    @apply w-[19px] h-[19px] absolute right-[30px] top-[15px];
                }
            }
        }
    }

    &_srch{
        &_btn{
            &__icon{
                @apply w-[19px] h-[19px] absolute right-[30px] top-[15px];
            }
        }
    }
}