@use '../base';
/*------==Tab View Section==------*/
.lh_tab_section {
	@apply w-full h-auto pt-[98px] pb-[90px] overflow-hidden;

	&__heading {
		@apply text-[28px] leading-normal lg:text-[40px] text-center lg:leading-[60px] font-medium text-lh-blue-dark pb-[32px];

		& br {
			@apply hidden lg:block;
		}
	}

	&__btn_area {
		@apply sm:w-full flex-wrap flex-col sm:justify-start md:flex-row md:justify-between md:w-fit text-[16px] flex items-center justify-between rounded-[10px] gap-[20px] bg-lh-white p-[7px] mx-auto mb-[86px];

		.tablink {
			@apply px-[46px] py-[14px] outline-none border-none rounded-[10px] cursor-pointer font-semibold text-[16px] leading-[24px] uppercase text-lh-black relative overflow-hidden z-[2] text-center;
			transition: 0.3s all;

			&::before {
				@apply w-full h-full top-0 left-0 bottom-0 bg-lh-blue-400 absolute rounded-[10px] z-[-1] translate-x-[-105%];
				content: '';
				transition: 0.3s all;
			}

			&:hover::before {
				transform: translateX(0%);
			}

			&:hover {
				@apply text-lh-white;
			}

			&.active {
				@apply w-full md:w-auto lg:w-auto relative text-lh-white bg-lh-blue-400 overflow-hidden;
			}
		}
	}

	.tab_content {
		@apply max-w-full pb-[50px] lg:pb-0 h-auto flex flex-wrap lg:flex-nowrap;

		&__text {
			@apply w-full mr-0 sm:float-none md:float-none md:w-full lg:w-[46%];

			.tab_content_heading {
				@apply text-[26px] leading-[39px] font-medium text-lh-black;

				br {
					@apply hidden md:hidden lg:block;
				}
			}

			.tab_content_para {
				@apply text-[16px] leading-[24px] font-normal text-lh-black-light pt-[14px] pb-[26px];

				br{
					@apply hidden;
				}
			}
		}

		& .tab_content__img {
			@apply w-full sm:w-[85%] md:w-[80%] mt-[25px] h-[400px] lg:h-auto lg:mt-[0] lg:w-[47%] ml-0  md:ml-[7%] relative;

			& .lh_tab_content_icon {
				@media (max-width:574px) {
					@apply last:top-[200px];
				}
				@media (max-width:460px) {
					@apply last:top-[170px];
				}

				@apply w-full absolute top-0 rounded-[16px] mt-[50px] first:mt-0 lg:right-0 first:absolute first:w-[178px] first:mr-auto first:z-10 first:translate-y-[-20%] lg:first:translate-y-[-10%] first:right-[4%] sm:first:right-[4%] md:first:right-[4%] lg:first:right-[3%] xl:first:right-[3%] last:absolute last:w-[225px] last:h-auto last:z-20 last:top-[230px] sm:last:top-[250px] md:last:top-[315px] lg:last:top-[250px] 2xl:last:top-[300px] last:left-0 lg:last:left-[-10%] 2xl:last:left-[-8%];
			}

			&.tab_ai_img_area {
				@apply flex items-center mt-0 lg:mt-[-34px] lg:h-auto;

				& .lh_tab_content_icon {
					@apply mt-0 lg:mt-[-70px] z-[1] lg:ml-auto w-full lg:h-[363px] 2xl:h-[363px] relative lg:right-0 first:left-0 xl:first:left-0  lg:first:w-auto first:h-[190px] first:sm:h-[200px] lg:first:h-[230px] lg:first:mr-auto first:pr-0 last:absolute last:left-0 xl:last:left-[12%] 2xl:last:left-[20%] last:w-auto last:h-[180px] sm:last:h-[233px] last:top-[57%] last:ml-0 last:mt-0;

					@media (max-width: 448px){
						@apply first:h-[150px];

						&:nth-child(2){
							@apply w-[160px];
						}
					}
					@media (max-width: 400px){
						&:nth-child(2){
							@apply w-[140px];
						}
					}
				}
			}

			&.tab_finance_img_area {
				@apply flex relative h-[455px]  md:h-[460px] lg:h-[550px];

				.lh_tab_content_icon {
					@apply w-[429px] h-[344px] first:relative first:left-0 lg:first:left-0 xl:first:left-[10%] 2xl:first:left-[20%] first:top-[4%] first:ml-0 first:w-auto first:h-[80px] md:first:h-[104px] first:pr-0 last:absolute last:mt-0 last:ml-0 last:left-0 last:w-auto last:h-[125px] sm:last:h-[135px] md:last:h-[150px] xl:last:h-[211px] lg:last:left-[2%] xl:last:left-[5%] 2xl:last:left-[15%] last:top-[65%] md:last:top-[60%] lg:last:top-[50%] xl:last:top-[50%];
					@media (max-width: 420px) {
						@apply last:h-[110px];
					}

					&:nth-child(3) {
						@apply absolute ml-auto w-[200px] md:w-[210px] h-auto top-[63%] lg:top-[54%] xl:top-[54%] 2xl:top-[53%] sm:w-[250px] right-0 md:right-[20%] lg:right-[-10%] lg:w-[256px];
					}
				}
			}
		}
	}
}
/*----====global tab_content====----*/
/*----====global oneside img and text content with list section====----*/
.lh {
	&_tab {
		&_content {
			&_wrapper {
				@apply max-w-full h-auto;

				.tab_text_area {
				}

				.lh_tab_content_heading {
					@apply text-[26px] leading-[39px] font-medium;
				}

				.lh_tab_content_para {
					@apply text-[16px] leading-[24px] font-normal text-lh-black-light pt-[14px] pb-[26px];
				}
			}
		}
	}
}
