/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/


/* -----====card types====-----*/
.lender{
    &_login{
        &_panel{
            @apply w-fit h-auto rounded-[10px] border border-solid border-lh-light-blue-30;
        box-shadow: 0 4px 15px rgba(20,107, 255, 8%);
        }
    }
}



/*----====Reusable card presrts====----*/
.lh{
    &_card{
        /*----====Card wrapper====----*/
        &_wrapper{
            @apply w-full h-auto;

            /*----====Card justify baseline====----*/
            &_justify{
                &_baseline{
                    @apply flex items-baseline justify-between;
                }  
            }

            /*----====Card flex col====----*/
            &_flex{
                &_col{
                    @apply flex items-baseline flex-col gap-y-[20px];
                }  
            }
        }

        /*----====Card content====----*/
        &_content{
            @apply w-fit h-auto;

            /*----====Card content grid 2 row====----*/
            &_grid{
                &_II{
                    @apply w-full h-auto grid grid-cols-3 lg:grid-cols-2 gap-x-[20px] gap-y-[20px];

                    li{
                        @apply text-left flex items-baseline gap-x-[6px];

                        span{
                            @apply min-w-[7px] h-[7px] rounded-[2px];
                        }

                        p{
                            @apply text-[11px] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];

                            span{
                                @apply w-auto h-auto  text-[14px] font-medium text-lh-black;
                            }
                        }
                    }
                }

                /*----====Card content grid 3 row====----*/
                &_grid{
                    &_III{
                        @apply w-full h-auto grid grid-cols-3 gap-x-[20px] gap-y-[20px];
    
                        li{
                            @apply w-full text-left flex items-baseline justify-center gap-x-[6px];
    
                            span{
                                @apply w-[7px] h-[7px] rounded-[2px];
                            }
    
                            p{
                                @apply text-[11px] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];
    
                                span{
                                    @apply w-auto h-auto  text-[14px] font-medium text-lh-black;
                                }
                            }
                        }
                    }
                }
            }
        }

        /*----====default card====----*/
        @apply p-[20px] rounded-[10px];
        
        /*----====White bg card with border====----*/
        &_light{
            &_b{
                @apply p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;
            }
        }

         /*----====White bg card with border & drop shadow====----*/
         &_light{
            &_b{
                &_shadow{
                    @apply p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;
                    box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);
                }
            }         
         }

        /*----====Light bg card without border====----*/
        &_light{
            @apply w-full p-[20px] rounded-[10px] bg-lh-white;
        }

        /*----====Dark bg card without border====----*/
        &_dark{
         @apply w-full p-[20px] rounded-[10px] bg-[url('../../assets/card-dark-bg.svg')] bg-cover;
        }
    }
}