/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

/* ----====Dashboard homepage page all contents====----*/
.lender {
  &_dashboard {
    /* ----====dashboard common route heading====----*/
    &_route {
      &_title {
        @apply w-full pt-[0.938rem] py-[1rem] bg-lh-skyblue-35 pl-[1.75rem] text-[1.625rem] text-lh-blue-dark;
      }
    }

    &_loan {
      /* ----loan apply----*/
      &_apply {
        @apply w-full pl-[1.25rem] pr-[1.25rem] gap-x-[1.25rem] gap-y-[1.25rem] my-[1.875rem];
        transition: 0.4s all;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media (min-width: 1440px) {
          @apply pr-[4.5rem];
        }

        @media (max-width: 1280px) {
          grid-template-columns: repeat(1, 1fr);
        }

        /* ----Applied Loan ammount Heading----*/
        &_ammount {
          &_light {
            @apply text-[1.875rem] leading-normal font-medium text-lh-white pt-[0.75rem] pb-[0.625rem];
          }

          &_black {
            @apply text-[1.875rem] leading-normal font-medium text-lh-black py-[1rem];
          }

          &_para {
            @apply text-[0.813rem] font-normal text-lh-black-20;

            span {
              @apply font-semibold;
            }
          }
        }

        img {
          @apply w-full h-auto bg-cover mt-[1.25rem];
        }
      }

      /* ----loan overview----*/
      &_overview {
        @apply w-full h-auto pl-[1.25rem] pr-[1.25rem] flex items-start gap-x-[1.25rem] gap-y-[1.25rem] flex-wrap xl:flex-nowrap justify-between;
        transition: 0.3s all;

        @media (min-width: 1440px) {
          @apply pr-[4.5rem];
        }

        &_left {
          &_panel {
            @apply w-full xl:w-[23%] 2xl:w-[24%] h-full pt-[21px] pl-[20px] pr-[35px] pb-[40px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30 flex gap-y-[20px] gap-x-[55px] relative overflow-hidden;
            box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);
            transition: 0.3s all;

            @media (max-width: 1280px) {
              @apply pr-[20px];
            }

            @media (min-width: 1200px) {
              @apply h-[376px];
            }

            &_inner_content {
              @apply w-full;

              &_last {
                @apply hidden;
              }

              .lh_card_content_heading {
                @apply pb-[20px] w-full;
              }

              .lh_card_content_grid_II {
                @apply w-full mt-[27px];

                @media (min-width: 1440px){
                  grid-template-columns: repeat(2, minmax(70px, 1fr));
                }

                li {
                  @apply flex-wrap lg:flex-nowrap;
                }
              }
            }
          }

          &_subtitle {
            @apply text-[0.75rem] leading-[0.75rem] font-normal text-lh-black-20;
          }
          &_title {
            @apply text-[6rem] font-bold leading-[6rem] text-lh-blue-400 pt-[4px] pb-[7px];
          }
        }

        &_right {
          &_panel {
            @apply w-full xl:w-[74.5%] h-full p-[20px] bg-lh-light-blue-250 border border-solid border-lh-light-blue-30 rounded-[10px] flex items-baseline gap-y-[20px] gap-x-[20px] xl:gap-x-[40px] flex-wrap lg:flex-nowrap;
            transition: 0.3s all;

            @media (max-width: 1238px) {
              @apply flex-wrap;
            }
            @media (min-width: 1440px) {
              @apply w-[74.9%];
            }

            &_graph {
              @apply w-full lg:w-[55%] text-right;
              transition: 0.3s all;

              @media (max-width: 1238px) {
                @apply w-full ;
              }
              @media (max-width: 1024px) {
                @apply w-full;
              }

              .input_field_type_b_dark{
                @apply text-right ml-auto;
              }

              img {
                @apply w-full lg:w-full h-full max-h-[252px] bg-cover mt-[5px] mb-[20px] ml-auto;

                @media (max-width: 1238px) {
                  @apply w-full ;
                }
                @media (max-width: 1000px) {
                  @apply w-full max-h-full h-full;
                }
              }
            }
          }

          &_inner {
            &_content {
              @apply w-full basis-full lg:basis-[45%] lg:w-[45%] flex gap-x-[40px] gap-y-[20px] flex-col;

              @media (max-width: 1238px) {
                @apply basis-full w-full flex-row flex-wrap;
              }

              .lh_card_content {
                @apply w-full flex justify-between items-center gap-x-[22px] gap-y-[22px] flex-wrap;
              }

              &_data {
                &_area {
                  @apply w-full flex justify-between gap-[20px] p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30 flex-wrap;
                  box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);

                  @media (min-width: 1450px) {
                    @apply gap-x-[54px];
                  }
                  @media (max-width: 1238px) {
                    @apply w-[44%] gap-x-[15px] last:w-[47%];
                  }
                  @media (max-width: 1034px) {
                    @apply w-[43%] gap-x-[15px] last:w-[50%];
                  }
                  @media (max-width: 1180px) {
                    @apply w-full flex-wrap gap-0 last:w-full;
                  }


                  img {
                    @apply w-full max-w-[6.625rem] bg-cover;

                    @media (max-width: 1238px) {
                      @apply w-[50%] ;
                    }
                  }

                  .lh_card_content_grid_II{
                    @media (max-width: 1280px){
                      grid-template-columns: repeat(3, minmax(0, 1fr));
                    }
                  }
                }
              }
            }
          }

          &_card {
            &_light {
              @apply w-fit flex justify-start flex-col gap-y-[12px];
            }

            &_title {
              @apply text-[0.688rem] font-normal text-lh-black-20;
            }

            &_num {
              @apply text-[1.625rem] font-medium text-black;
            }
          }
        }
      }
    }

    /* ----dashboard application----*/
    &_application {
      @apply w-full pl-[20px] pr-[20px] mt-[30px] mb-[59px];

      @media (min-width: 1440px) {
        @apply pr-[4.5rem];
      }

      &_title {
        @apply w-full flex items-center justify-between gap-y-[20px] flex-wrap;
      }

      &_filter {
        @apply w-fit flex items-center gap-x-[10px] gap-y-[20px] flex-wrap lg:flex-nowrap;

        &_label {
          @apply w-auto flex items-center gap-x-[10px];

          label {
            @apply text-[0.688rem] font-normal text-lh-black-20;
          }
        }
      }

      &_table{
        &_wrapper{
          @apply mt-[25px];
        }
      }

      &_btn {
        @apply py-[14px];
      }
    }

    /* ----Buttons----*/
    &_link {
      &_btn {
        @apply w-fit p-0 text-[11px] font-medium text-lh-blue-400 bg-transparent gap-x-[6px] hover:gap-x-[8px];

        svg {
          @apply fill-lh-blue-400;
        }
      }
    }
  }
}


/*----====Loan overview div open close toggle class====----*/
.div_toggle_expand {
  @apply max-w-full w-[65.5%] h-full  p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30 flex  gap-x-[20px] gap-y-[20px] relative overflow-hidden;
  box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);
  transition: 0.3s all;

  .lender_dashboard_loan_overview_left_panel_inner_content{
    @apply max-w-full w-[35%];
  }

  .lender_dashboard_loan_overview_left_panel_inner_content_last {
    @apply w-full h-full opacity-100 block text-right;

    img {
      @apply max-w-full w-[400px] bg-cover mt-[16px];
    }
    .input_field_type_b_dark{
      @apply ml-auto;
    }

    .lh_card_content_grid_III{
      @apply w-fit mx-auto mt-[20px] gap-x-[40px];
    }
  }

  @media (min-width: 1440px) {
    @apply  gap-x-[40px];
  }

  @media (max-width: 1280px) {
    @apply w-full;

    .lender_dashboard_loan_overview_left_panel_inner_content{
      @apply max-w-full w-[30%];
    }

    .panel_toggle{
      @apply hidden;
    }
    .lh_card_content_grid_II{
      @apply grid-cols-1;
    }

    .lender_dashboard_loan_overview_left_panel_inner_content_last{
      img{
        @apply max-w-full w-full;
      }
    }
  }
}
.div_toggle_collaps {
  @apply w-[33%] max-w-full h-full p-[20px] bg-lh-light-blue-250 border border-solid border-lh-light-blue-30 rounded-[10px] flex items-baseline gap-y-[20px] gap-x-[20px] xl:gap-x-[40px] flex-wrap lg:flex-nowrap;
  transition: 0.3s all;

  @media (max-width: 1280px) {
    @apply w-full;
  }

  .lender_dashboard_loan_overview_right_inner_content {
    @apply w-full basis-full;
  }

  .lender_dashboard_loan_overview_right_panel_graph {
    @apply hidden;
  }
}
.panel_toggle {
  @apply w-[20px] h-[90px] absolute right-0 top-[50%] translate-y-[-50%] rounded-l-[10px] opacity-100 cursor-none lg:cursor-pointer flex items-center justify-center bg-lh-skyblue-50 before:content-[''] before:top-[-20px] before:right-[-10px] before:absolute
      after:content-[''] after:bottom-[-20px] after:right-[-10px] after:absolute;

  &::before {
    border-bottom: 20px solid rgba(183, 213, 255, 60%);
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
  }

  &::after {
    border-right: 20px solid rgba(183, 213, 255, 60%);
    border-left: 20px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;
  }
}

/*----====dashboard page specific css====----*/
.select{
  /* ----dropdown select optipn common UI----*/
  &_dropdown{
    @apply w-[130px] py-[12px] px-[14px] text-[0.688rem] rounded-[6px] text-lh-blue-400 border border-solid border-lh-blue-400 font-normal bg-[url(../../assets/select-dropdown.svg)] bg-cover bg-no-repeat appearance-none outline-none bg-lh-white;
    background-position: right 14px top 50%, 0 0;
    background-size: 10px auto, 100%;

    /* ----dropdown select industry UI----*/
  &_industry{
    @apply w-[160px] py-[12px] px-[14px] text-[0.688rem] rounded-[6px] text-lh-blue-400 border border-solid border-lh-blue-400 font-normal bg-[url(../../assets/select-dropdown.svg)] bg-cover bg-no-repeat appearance-none outline-none bg-lh-white;
    background-position: right 14px top 50%, 0 0;
    background-size: 10px auto, 100%;
  }
  }
}

/*----====dashboard color page specific css====----*/
.lh{
  &_magenta{
    @apply bg-lh-magenta-10;
  }

  &_yellow {
    @apply bg-lh-yellow-10;
  }

  &_blue {
    @apply bg-lh-blue-10;
  }
}





/*----====Reusable card presrts====----*/
.lh {
  &_card {
    /*----====Card wrapper====----*/
    &_wrapper {
      @apply w-full h-auto;

      /*----====Card justify baseline====----*/
      &_justify {
        &_baseline {
          @apply flex items-baseline justify-between;
        }
      }

      /*----====Card flex col====----*/
      &_flex {
        &_col {
          @apply flex items-baseline flex-col gap-y-[20px];
        }
      }
    }

    /*----====Card content====----*/
    &_content {
      @apply w-fit h-auto;
    }

    /*----====Card content grid 2 row====----*/
    &_content {
      &_grid {
        &_II {
          @apply w-full h-auto grid grid-cols-3 lg:grid-cols-2 gap-x-[20px] gap-y-[20px];

          li {
            @apply text-left flex items-baseline gap-x-[6px] flex-wrap gap-y-[6px];

            span {
              @apply min-w-[7px] h-[7px] rounded-[2px];
            }

            p {
              @apply text-[11px] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];

              span {
                @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
              }
            }
          }
        }
      }
    }

    /*----====Card content grid 3 row====----*/
    &_content {
      &_grid {
        &_III {
          @apply w-fit h-auto grid grid-cols-3 gap-x-[20px] gap-y-[20px] mx-auto;

          li {
            @apply w-full text-left flex items-baseline justify-center gap-x-[6px];

            span {
              @apply w-[7px] h-[7px] rounded-[2px];
            }

            p {
              @apply text-[11px] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];

              span {
                @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
              }
            }
          }
        }
      }
    }

    /*----====default card====----*/
    @apply p-[20px] rounded-[10px];

    /*----====White bg card with border====----*/
    &_light {
      &_b {
        @apply p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;
      }
    }

    /*----====White bg card with border & drop shadow====----*/
    &_light {
      &_b {
        &_shadow {
          @apply p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;
          box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);
          transition: 0.3s all;
        }
      }
    }

    /*----====Light bg card without border====----*/
    &_light {
      @apply w-full p-[20px] rounded-[10px] bg-lh-white;
    }

    /*----====Dark bg card without border====----*/
    &_dark {
      @apply w-full p-[20px] rounded-[10px] bg-[url('../../assets/card-dark-bg.svg')] bg-cover;
    }
  }
}

/*----====Reusable input presets====----*/
/*----====White bg blue border input field date with custom icon====----*/
.input {
  &_field {
    &_type {
      /*----====blue border with custom date icon input field====----*/
      &_b {
        &_dark {
          @apply w-fit flex items-center  rounded-[6px] border border-solid border-lh-blue-400 px-[14px] py-[11px] text-[0.625rem] font-normal text-lh-blue-400 bg-transparent outline-none;

          &::-webkit-calendar-picker-indicator {
            @apply w-[18px] h-[18px] bg-[url('../../assets/date-icon-dark.svg')] bg-cover block;
          }

          &::placeholder {
            @apply text-[0.625rem] font-normal text-lh-blue-400;
          }
        }

        /*----====white border with custom date icon input field====----*/
        &_light {
          @apply w-fit flex items-center rounded-[6px] border border-solid border-lh-white px-[14px] py-[14px] text-[0.625rem] font-normal text-white outline-none bg-transparent;

          &::-webkit-calendar-picker-indicator {
            @apply w-[18px] h-[18px] bg-[url('../../assets/date-icon-light.svg')] bg-cover block;
          }

          &::placeholder {
            @apply text-[0.625rem] font-normal text-lh-white;
          }
        }
      }
    }
  }
}





