/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

 /* ----global table wrapper----*/
.dashboard_table_wrapper{
    @apply w-full h-auto relative overflow-x-scroll;

    @media (min-width:2097px){
        @apply overflow-hidden;
    }
}

/* ----global table----*/
table{
    @apply max-w-full w-[1000px] table overflow-hidden overflow-x-scroll overflow-y-hidden;
}
/* ----global table head group----*/
thead{
    @apply w-full table-header-group;

    tr{
        @apply w-full border border-solid border-t-0 border-l-0 border-r-0 border-b-lh-light-blue-30 text-left flex;
        box-shadow: 0 15px 0px rgba(185, 213, 255, 20%);
    
        th{
            @apply text-[0.688rem] font-medium text-lh-black text-left first:pl-[15px] table-cell first:w-[5%] w-[10%] relative;
            &:nth-child(2){
                @apply pl-[20px];
            }
        }
    }
}

/* ----global table body----*/
tbody{
    @apply w-full relative table-row-group;

    tr{
        @apply text-[0.688rem] text-lh-black-20 rounded-[10px] first:mt-[26px] top-[20px] pt-[8px] pb-[11px] flex;
        box-shadow: none;

        td{
            @apply max-w-full first:pl-[10px] first:pt-[5px] first:w-[5%] pt-[16px] pb-[16px] table-cell w-[10%] text-[0.688rem] leading-[0.688rem] text-lh-black-20 last:flex;

            &:nth-child(2){
                @apply pl-[20px];
            }
        }
    }
    .table_checkbox{
        @apply w-[20px] h-[20px] rounded-[3px] border border-solid border-lh-light-blue-30 absolute top-[22px] left-[10px];
      }
}


  /* ----global table checkbox modifier----*/

  .table_header_checkbox_label{
    @apply block relative;
  }
  /* ----global table checkbox----*/
  input[id="default-checkbox"] {
    @apply hidden;
  }
  /* ----global table checkbox span----*/
  .table_checkbox{
    @apply w-[20px] h-[20px] rounded-[3px] border border-solid border-lh-light-blue-30 absolute top-0 left-[10px];
  }
  /* ----global table checkbox check----*/
  .table_checkbox_label input[id="default-checkbox"]:active ~ .table_checkbox {
    @apply bg-lh-white;
  }
  /* Specify the background color to be shown when checkbox is checked */
  .table_checkbox_label input[id="default-checkbox"]:checked ~ .table_checkbox {
    @apply bg-lh-blue-400;
  }
  /* Checkmark to be shown in checkbox */
  /* It is not be shown when not checked */
  .table_checkbox:after {
    @apply content-[''] absolute hidden;
  }
  /* Display checkmark when checked */
  .table_checkbox_label input[id="default-checkbox"]:checked ~ .table_checkbox:after {
    @apply block;
  }
  /* Styling the checkmark using webkit */
  /* Rotated the rectangle by 45 degree and 
  showing only two border to make it look
  like a tickmark */
  .table_checkbox_label .table_checkbox:after {
    @apply left-[8px] bottom-[7px] w-[4px] h-[8px] rotate-45;
    border: solid white;
    border-width: 0 2px 2px 0;
  }





/* ----==global buttons mogification==----*/

/* ----success btn----*/
.table_success_btn{
    padding: 9px 21px !important;
    font-size: 0.688rem !important;
    height: 35px;

    svg{
        @apply hidden;
    }
}
/* ----primery btn----*/
.table_primary_btn{
    padding: 8px 25px !important;
    font-size: 0.688rem !important;
    height: 35px;
    font-weight: 500 !important;

    svg{
        @apply hidden;
    }
}
/* ----info btn----*/
.table_info_btn{
    width: 94px !important;
    padding: 9px 10px !important;
    font-size: 0.688rem !important;
    font-weight: 400 !important;
    height: 35px;

    svg{
        @apply hidden;
    }
}

/* ----global table body row----*/
.table_row{
    @apply w-full relative;
}
