/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.lender{
    &_dashboard{ 
      
          &_feature{
            @apply w-full h-auto pl-[1.25rem] pr-[1.25rem]  mt-[1.875rem] flex items-start gap-y-[1.25rem] gap-x-[1.25rem] flex-wrap xl:flex-nowrap justify-between;
            transition: 0.4s all;

            @media (min-width: 1440px) {
                @apply pr-[4.5rem];
              }

              &_40{
                @apply w-full basis-full max-w-full flex items-start flex-col gap-y-[30px] xl:w-[43%] xl:basis-[43%];

                .lh_card_light_b_shadow{
                  @apply w-full max-w-full flex items-start flex-col gap-y-[30px] pb-[37px];
                }

                &__title{
                    @apply  w-full flex items-center justify-start flex-wrap gap-[12px];

                    .feature_title_icon{
                      @apply w-[40px] h-[40px] flex items-center justify-center rounded-full bg-lh-skyblue-55;

                      img{
                        @apply w-[16px] h-auto bg-cover m-0;
                      }
                    }
                }

                &_data{
                  @apply w-full h-auto flex flex-col gap-y-[12px];

                  p{
                    @apply text-lh-black-20 text-[0.688rem] font-normal;
                  }
                  h5{
                    @apply font-medium text-lh-black; 
                  }

                  &_content{
                    @apply w-full h-auto flex flex-row gap-x-[12px];
                  }
                }

                
                .lh_card_content_grid_II{
                    @apply gap-x-0 ;
                    grid-template-columns: repeat(2, 150px);

                    li{
                       @apply items-center;
                    }
                }
            }

            &_60{
                @apply w-full basis-full xl:w-[55%] xl:basis-[55%];

                .lh_card_light_b_shadow{
                    @apply p-[1.25rem];
                }

                &__title{
                    @apply w-full flex items-start justify-between flex-wrap gap-[1.25rem];

                  .revenue_title{
                    @apply w-auto flex items-start gap-x-[12px];
                  }
                  .revenue_icon{
                    @apply flex items-center gap-x-[12px];

                    .revenue_icon_box{
                      @apply w-[40px] h-[40px] rounded-full bg-lh-skyblue-55 flex items-center justify-center;

                      img{
                        @apply w-[16px] bg-cover m-0 mx-auto;
                      }
                    }
                  }
                  h5{
                    @apply font-medium;
                  }

                  .revenue_text{
                    @apply flex flex-col gap-y-[12px];
                  }
                }

                img{
                  @apply w-full h-[256px] bg-cover mt-[18px];
                }
            }

            &_70{
              @apply w-full basis-full xl:w-[66.5%] xl:basis-[66%];

              &__title{
                @apply w-full flex items-center gap-x-[15px];
              }
              .feature_title_icon{
                @apply w-[46px] h-[46px] rounded-full flex items-center justify-center bg-lh-skyblue-55;

                img{
                  @apply w-[17px] bg-cover m-0;
                }
              }
              .realtime{
                &_date{
                  @apply w-fit flex flex-col;
                  input[type='date']{
                    @apply w-[123px] text-[0.688rem] font-medium text-lh-black border border-solid border-t-0 border-l-0 border-r-0 border-b-lh-blue-400 outline-none;

                    &::-webkit-calendar-picker-indicator{
                      @apply w-[18px] h-[18px]  bg-[url('../../../assets/date-icon-dark.svg')] bg-cover block;
                    }
                    &::placeholder{
                      @apply text-[10px] font-normal text-lh-blue-400;
                    }
                  }
                  .p{
                    @apply text-[0.688rem] leading-[24px] text-lh-white-90 font-normal;
                  }
                  label{
                    @apply text-[0.5rem] leading-[24px] text-lh-black-20;
                  }
                  &_area{
                    @apply w-full flex items-end gap-x-[15px] mt-[20px];
                  }
                }
              }

              img{
                @apply w-full h-[222px] bg-cover mt-[42px];
              }
            }

            &_30{
              @apply w-full basis-full xl:w-[31.5%] xl:basis-[31.5%];

              &__title{
                @apply w-full flex items-center gap-x-[15px];
              }
              .feature_title_icon{
                @apply w-[46px] h-[46px] rounded-full flex items-center justify-center bg-lh-skyblue-55;
                img{
                  @apply w-[22px] bg-cover m-0;
                }
              }

              img{
                @apply w-[244px] mx-auto bg-cover mt-[20px];
              }

              .score{
                &_data{
                  @apply w-full flex flex-col gap-y-[12px];
                  &_info{
                    @apply w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-2 gap-x-[28px] gap-y-[10px] mt-[20px];
                  }
                  p{
                    @apply text-lh-black-20 text-[0.688rem];
                  }
                  h5{
                    @apply text-lh-black font-medium;
                  }
                }
              }
            }
          }

          &_application{
            &_deposite{
              &_card{
                @apply w-full h-auto pl-[1.25rem] pr-[1.25rem]  mt-[1.875rem] grid grid-cols-1 lg:grid-cols-3 gap-[20px];

                @media (min-width: 1440px) {
                  @apply pr-[4.5rem];
                }

                .lh_card_light_b_shadow{
                  @apply w-full flex items-start justify-between flex-wrap xl:flex-nowrap gap-y-[20px];
                }

                &_data{
                  @apply w-full flex flex-col gap-y-[12px];

                  p{
                    @apply text-[0.688rem] text-lh-black-20 font-normal;
                  }
                  h5{
                    @apply font-medium text-lh-black;
                  }

                  input[type='date']{
                    @apply ml-0 xl:ml-auto;
                  }
                }
              }
            }

            &_loan{
              &_summary{
                @apply w-full h-auto pl-[1.25rem] pr-[1.25rem] mt-[1.875rem] mb-[55px];

                @media (min-width: 1440px) {
                  @apply pr-[4.5rem];
                }

                &_title{
                  @apply flex items-center gap-x-[15px];

                  .title_icon{
                    @apply w-[46px] h-[46px] rounded-full bg-lh-skyblue-55 flex items-center justify-center;

                    img{
                      @apply w-[17px] bg-cover mx-auto;
                    }
                  }

                  &_area{
                    @apply w-full flex items-center justify-between flex-wrap gap-y-[20px];
                  }
                }

                &_wrapper{
                  @apply w-full bg-lh-skyblue-40 border border-solid border-lh-light-blue-30 rounded-[10px] p-[20px] pb-[39px];
                }

                &_fields{
                  @apply w-auto flex items-start gap-x-[20px] flex-wrap gap-y-[20px];
                }

                &_data{
                  @apply w-full flex gap-[20px] mt-[20px] flex-wrap xl:flex-nowrap;

                  @media (min-width: 1440px){
                    @apply justify-between;
                  }
                }

                &_total{
                  @apply flex flex-col w-full basis-full xl:w-[31%] xl:basis-[31%] gap-y-[20px];
                  box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);

                  .total_list{
                    @apply w-full list-none flex flex-col gap-y-[20px] p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;

                    li{
                      @apply w-full block;

                      .p_subtitle{
                        @apply text-lh-black-20 text-[0.688rem] font-normal flex items-center gap-x-[11px];
                      }
                      h5{
                        @apply font-medium pt-[12px];
                      }
                      .p_title{
                        @apply text-[0.875rem] font-medium text-lh-black pt-[12px];
                      }
                      .active_btn{
                        @apply text-[0.5rem] px-[12px] py-[3px];

                        svg{
                          @apply hidden;
                        }
                      }
                    }
                  }
                  .loan_repayment{
                    @apply w-full list-none flex flex-col gap-y-[12px] p-[20px] rounded-[10px] bg-lh-blue-400;

                    li{
                      @apply w-full flex items-center justify-between;

                      input[type='range']{
                        @apply w-[70%] md:w-[80%] xl:w-[125px] h-[9px];
                      }
                      input[type='range']::-webkit-slider-runnable-track{
                        @apply bg-lh-skyblue-55 rounded-[20px];
                      }
                    }

                    p{
                      @apply text-[0.688rem] text-lh-white;
                    }
                    h5{
                      @apply text-lh-white font-semibold;
                    }
                  }
                }

                &_graph{
                  @apply w-full basis-full xl:w-[45%] xl:basis-[45%];
                  box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);

                  &_content{
                    @apply w-full rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30 p-[20px];

                    .total_list{
                      @apply w-full list-none grid grid-cols-1 md:grid-cols-2 gap-x-[88px] gap-y-[20px];

                      .p_subtitle{
                        @apply text-lh-black-20 text-[0.688rem] font-normal flex items-center gap-x-[11px];
                      }
                      h5{
                        @apply font-medium pt-[12px];
                      }
                      .p_title{
                        @apply text-[0.875rem] font-medium text-lh-black pt-[7px];
                      }
                    }

                    img{
                      @apply w-full h-[115px] bg-cover mx-auto mt-[20px];
                    }
                  }
                }

                &_type{
                  &_info{
                    @apply w-full basis-full xl:w-[20%] xl:basis-[20%] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30 p-[20px];
                    box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);

                    .total_list{
                      @apply w-full list-none flex flex-col gap-y-[20px];

                      .p_subtitle{
                        @apply text-lh-black-20 text-[0.688rem] font-normal flex items-center gap-x-[11px];
                      }
                      .p_title{
                        @apply text-[0.875rem] font-medium text-lh-black pt-[12px];
                      }
                    }
                  }
                }
              }
            }
          }
    }
}

/* ----====profit indicate ====----*/
.data_export_btn{
  @apply w-[40px] h-[40px] bg-lh-blue-400 cursor-pointer rounded-[6px] flex items-center justify-center;
  background: #146BFF;
}
/*----====dashboard page specific css====----*/
.dropdown_selected_data {
  @apply w-[130px] py-[10px] px-[14px] rounded-[6px] border border-solid border-lh-blue-400 bg-cover bg-no-repeat appearance-none outline-none bg-transparent;

  p{
    @apply text-[0.75rem] text-lh-blue-400 font-normal;
  }

  span{
    @apply text-[0.75rem] text-lh-blue-400 font-medium;
  }
}

/*----====dashboard page specific css====----*/
.select_loan {
  @apply w-[179px] py-[7px] px-[14px] text-[0.688rem] leading-[24px] rounded-[6px] text-lh-blue-400 border border-solid border-lh-blue-400 font-normal bg-[url(../../../assets/select-loan-dropdown-icon.svg)] bg-cover bg-no-repeat appearance-none outline-none bg-lh-white;
  background-position: right 14px top 50%, 0 0;
  background-size: 10px auto, 100%;
}




/*----====Reusable card presrts====----*/
.lh{
  &_card{
      /*----====Card wrapper====----*/
      &_wrapper{
          @apply w-full h-auto;

          /*----====Card justify baseline====----*/
          &_justify{
              &_baseline{
                  @apply flex items-baseline justify-between;
              }  
          }

          /*----====Card justify center====----*/
          &_justify{
              &_between{
                  @apply w-full h-auto flex items-center justify-between flex-wrap;
              }  
          }

          /*----====Card item center====----*/
          &_flex{
              &_center{
                  @apply w-auto h-auto flex items-center gap-[20px];
              }  
          }

          /*----====Card flex col====----*/
          &_flex{
              &_col{
                  @apply flex items-baseline flex-col gap-y-[20px];
              }  
          }
      }

      /*----====Card content====----*/
      &_content{
          @apply w-fit h-auto;

         
          &_grid{

               /*----====Card content grid 1 row====----*/
              &_I{
                  @media (min-width: 768px){
                      grid-template-columns: repeat(3, 1fr);
                  }
                  @media (min-width: 1024px){
                      grid-template-columns: repeat(1, 1fr);
                  }
                  @apply w-full h-auto grid lg:grid-cols-1 gap-y-[20px];

                  li{
                      @apply w-full text-left flex items-center justify-start gap-x-[8px];

                      span{
                          @apply w-[7px] h-[7px] rounded-[2px];
                      }

                      p{
                          @apply text-[0.688rem] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];

                          span{
                              @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
                          }
                      }
                  }
              }

              /*----====Card content grid 2 row====----*/
              &_II{
                  @apply w-auto h-auto grid grid-cols-3 lg:grid-cols-2 gap-x-[20px] gap-y-[20px];

                  li{
                      @apply text-left flex items-center gap-x-[8px];

                      span{
                          @apply min-w-[7px] h-[7px] rounded-[2px];
                      }

                      p{
                          @apply text-[0.688rem] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];

                          span{
                              @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
                          }
                      }
                  }
              }

              /*----====Card content grid 3 row====----*/
              &_III{
                  @apply w-full h-auto grid grid-cols-3 gap-x-[20px] gap-y-[20px];

                  li{
                      @apply w-full text-left flex items-center justify-center gap-x-[6px];

                      span{
                          @apply w-[7px] h-[7px] rounded-[2px];
                      }

                      p{
                          @apply text-[0.688rem] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];

                          span{
                              @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
                          }
                      }
                  }
              }
          }
      }

      /*----====default card====----*/
      @apply p-[20px] rounded-[10px];

      /*----====White bg card with border====----*/
      &_light{
          &_shadow{
              @apply p-[15px] rounded-[10px] bg-lh-white grid grid-cols-2;
              box-shadow: 0 8px 26px rgba(20, 107, 255, 11%);
          }
      }
      
      /*----====White bg card with border====----*/
      &_light{
          &_b{
              @apply p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;
          }
      }

       /*----====White bg card with border & drop shadow====----*/
       &_light{
          &_b{
              &_shadow{
                  @apply p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;
                  box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);
              }
          }         
       }

      /*----====Light bg card without border====----*/
      &_light{
          @apply w-full p-[20px] rounded-[10px] bg-lh-white;
      }

      /*----====Dark bg card without border====----*/
      &_dark{
       @apply w-full p-[20px] rounded-[10px] bg-[url('../../assets/card-dark-bg.svg')] bg-cover;
      }
  }
}


/*----====Reusabe input field date with custom icon====----*/
.input{
  &_field{
      &_type{

          /*----====blue border with custom date icon input field====----*/
          &_b{
              &_dark{
                  @apply w-fit rounded-[6px] border border-solid border-lh-blue-400 px-[14px] py-[11px] text-[10px] font-normal text-lh-blue-400 bg-transparent outline-none; 

                  &::-webkit-calendar-picker-indicator{
                      @apply w-[18px] h-[18px] bg-[url('../../../assets/date-icon-dark.svg')] bg-cover block;
                  }
  
                  &::placeholder{
                          @apply text-[10px] font-normal text-lh-blue-400;
                  }
              }

              /*----====white border with custom date icon input field====----*/
              &_light{
                  @apply w-fit rounded-[6px] border border-solid border-lh-white px-[14px] py-[11px] text-[0.625rem] font-normal text-white outline-none bg-transparent;
                  
                  &::-webkit-calendar-picker-indicator{
                      @apply w-[18px] h-[18px] bg-[url('../../../assets/date-icon-light.svg')] bg-cover block;
                  }

                  &::placeholder{
                          @apply text-[0.625rem] font-normal text-lh-white;
                  }
              }
          }
      }
  }
}