/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/


/* ----Merchant Banner section----*/
.lh{
    &_merchant{
        &_hero{
            @apply w-full pt-[123px] pb-[49px];
            background: linear-gradient(0deg, #07377E 0%, #07377E 100%), #004176;

            .container{
                @apply w-[100%] px-[15px] lg:px-[15px] xl:px-[0px] lg:w-[95%] xl:w-[1136px] mx-auto flex items-center gap-x-[132px] flex-wrap lg:flex-nowrap;

                @media (min-width:1440px){
                    @apply w-[1300px];
                }
            }

            &_content{
                @apply w-full basis-full lg:w-[40%] lg:basis-[40%] 2xl:w-[45%] 2xl:basis-[45%] order-2 lg:order-1;

                &_para{
                    @apply flex gap-x-[7px] items-center mt-[43px] text-lh-white;
                }
            }
            .h1{
                @apply font-sans text-[50px] leading-normal font-medium text-lh-white text-left py-[32px];
            }
            .p{
                @apply font-sans text-[18px] leading-[34px] font-normal text-lh-white pb-[34px];
            }

            &_btn{
                &_group{
                    @apply flex items-center gap-x-[14px] gap-y-[20px] flex-wrap;
                }
            }

            &_img{
                @apply w-full lg:w-[55%] h-auto order-1 lg:order-2;

                img{
                    @apply w-full h-full object-cover mx-auto;
                }
            }
        }
    }
}

.test_style{
    @apply flex items-start gap-x-[5%] flex-wrap lg:flex-nowrap;
}
