/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.lh {
  &_u {
    &_btn {
      @apply px-5 py-3.5 inline-block transition-all ease-in-out  text-[15px] leading-5 hover:text-blue-400;
      &__rounded {
        @apply rounded-full;
      }
      &__solid {
        @apply bg-blue-600 text-white transition ease-in-out  hover:shadow-blue-400/80 hover:shadow-md hover:duration-500 hover:text-white text-[15px];
      }
    }
  }
}
