.container {
  @apply flex flex-col flex-1 justify-center items-center mt-10 px-40;
}

.lh_heading {
  @apply text-2xl font-bold mb-3;
}

.lh_subheading {
  @apply text-base font-light;
}

.test_style {
  @apply bg-gray-200 px-10 py-10 border-blue-400 rounded-lg shadow-lg shadow-blue-100 mt-5;
}
