/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/


/* ----====Analytics page====----*/

.lender{
    &_dashboard{

        /* ----====dashboard common route heading====----*/ 
        &_route{
            &_title{
                @apply w-full flex items-center justify-between flex-nowrap pt-[0.938rem] py-[1rem] bg-lh-skyblue-35 pl-[1.75rem] pr-[1.25rem] text-[1.625rem] text-lh-blue-dark;

                @media (min-width: 1440px) {
                    @apply pr-[4.5rem];
                }
            }
        }

        /* ----====dashboard common 60/40 col section====----*/ 
        &_feature{
            @apply w-full h-auto pl-[1.25rem] pr-[1.25rem]  mt-[1.875rem] flex items-start gap-y-[1.25rem] gap-x-[1.25rem] flex-wrap lg:flex-nowrap justify-between;

            @media (min-width: 1440px) {
                @apply pr-[4.5rem];
              }

            &_60{
                @apply w-full basis-full lg:w-[50%] lg:basis-[50%] xl:w-[55%] xl:basis-[55%];

                .lh_card_light_b_shadow{
                    @apply pt-[1.563rem] pl-[1.563rem] pr-[1.25rem] pb-[3rem];
                }

                &__title{
                    @apply w-full flex items-center justify-between flex-wrap gap-[1.25rem];
                }

                input[type='date']{
                    @apply py-[0.688rem];
                }

                img{
                    @apply w-full lg:w-auto h-[15.875rem] bg-cover mt-[0.938rem];
                }
            }


            &_40{
                @apply w-full basis-full lg:w-[50%] lg:basis-[50%] xl:w-[43%] xl:basis-[43%];

                &__title{
                    @apply w-full flex items-center justify-between flex-wrap gap-[1.25rem];
                }

                input[type='date']{
                    @apply py-[0.688rem];
                }

                img{
                    @apply w-full lg:w-auto h-[216px] bg-cover mt-[10px] mb-[20px];
                }

                
                .lh_card_content_grid_II{
                    @apply gap-x-0 ;
                    grid-template-columns: repeat(2, 150px);

                    li{
                       @apply items-center;
                    }
                }
            }

            /* ----====dashboard Analytics Industries Funded section====----*/ 
            &_30{
                @apply w-full basis-full lg:w-[40%] lg:basis-[40%] xl:w-[32%] xl:basis-[32%];

                .lh_card_light_b_shadow{
                    @apply pb-[40px];
                    @media (max-width: 1310px){
                        @apply pb-[20px];
                    }
                    @media (min-width: 1536px){
                        @apply pb-[20px];
                    }
                }

                .lh_card_light_b{
                    @apply pr-[2.313rem];

                    @media (min-width: 1440px){
                        @apply pb-[2.5rem];
                    }
                }

                input[type='date']{
                    @apply mt-[1.25rem] py-[0.688rem];
                }

                .industry_fund_chart{
                    @apply w-[15rem] max-w-full h-full object-cover bg-no-repeat mt-[1.25rem] mb-[2.813rem] 2xl:w-full;
                }

                .lh_card_content_grid_I{
                    @apply mt-[2.813rem];
                }
            }

            &_70{
                @apply w-full flex flex-col basis-full lg:w-[66%] lg:basis-[66%] ;

                .card_content{
                    @apply w-full h-auto bg-lh-skyblue-40 border border-solid border-lh-light-blue-30 rounded-[10px] p-[20px];
                }

                img{
                    @apply w-full h-full object-cover bg-no-repeat my-[20px]; 
                }

                .least_applied_industries{
                    @apply w-full bg-lh-white mt-[30px];

                    .lh{
                        &_card{
                            &_wrapper{
                                @apply w-full h-auto grid grid-cols-3 gap-x-[1.313rem] gap-y-[1.25rem] mt-[1.25rem];
                            }

                            &_data{
                                @apply w-full flex flex-col gap-y-[12px] last:items-end;

                                .p{
                                    @apply text-[0.688rem] font-normal text-lh-black-20;
                                }
                                .h5{
                                    @apply text-[26px] font-medium text-lh-black;
                                }

                                img{
                                    @apply w-full h-auto bg-cover m-0 mt-[7px];
                                }
                            }
                        }
                    }
                }
            }

            /* ----====dashboard Analytics Deals statistics section====----*/ 
            &_full{
                @apply w-full h-auto pl-[1.25rem] pr-[1.25rem] mt-[1.875rem] flex items-start gap-y-[1.25rem] gap-x-[1.25rem] flex-wrap lg:flex-nowrap mb-[4.625rem];
                @media (min-width: 1440px) {
                    @apply pr-[4.5rem];
                  }

                .lh_card_light_b{
                    @apply w-full;
                    box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);
                }
                
                img{
                    @apply w-full h-auto object-cover mt-[1.25rem];
                }

                .lh_card_content_grid_II{
                    @apply grid-cols-2;
                }
            }
        }
    }
}


/* ----====route data export btn ====----*/
.data_export_btn{
    @apply w-[40px] h-[40px] bg-lh-blue-400 cursor-pointer rounded-[6px] flex items-center justify-center;
}
/* ----====profit indicate page specific====----*/
.indicate{
    &_profit{
      @apply w-auto text-[0.563rem] font-normal text-lh-success text-right relative before:content-[''] before:w-[0.625rem] before:h-[0.688rem] before:left-[-0.938rem] before:top-0 before:bg-[url('../../assets/profit-indicate-arrow.svg')] before:bg-cover before:absolute;
    }
    &_loose{
      @apply w-auto text-[0.563rem] font-normal text-lh-danger relative before:content-[''] before:w-[0.625rem] before:h-[0.688rem] before:left-[-0.938rem] before:top-[2px] before:bg-[url('../../assets/lose-indicate-arrow.svg')] before:bg-cover before:absolute;
    }
}

/* ----====graph color names page specific----*/
.medical_graph{
    @apply min-w-[12px] min-h-[12px] rounded-[3px] bg-lh-blue-400;
    min-width: 0.75rem !important;
}
.vicle_graph{
    @apply min-w-[12px] min-h-[12px] rounded-[3px] bg-lh-magenta-10;
    min-width: 0.75rem !important;
}
.construction_graph{
    @apply min-w-[12px] min-h-[12px] rounded-[3px] bg-lh-success-30;
    min-width: 0.75rem !important;
}
.restaurant_graph{
    @apply min-w-[12px] min-h-[12px] rounded-[3px] bg-lh-yellow-10;
    min-width: 0.75rem !important;
}
.Farm_equipment_graph{
    @apply min-w-[12px] min-h-[12px] rounded-[3px] bg-lh-skyblue;
    min-width: 0.75rem !important;
}
.gas_station_graph{
    @apply min-w-[12px] min-h-[12px] rounded-[3px] bg-lh-orange-10;
    min-width: 0.75rem !important;
}
.medical_equipment_graph{
    @apply min-w-[12px] min-h-[12px] rounded-[3px] bg-lh-blue-10;
    min-width: 0.75rem !important;
}
.lh_lending_graph{
    @apply min-w-[12px] min-h-[12px] rounded-[3px] bg-lh-skyblue-45;
    min-width: 0.75rem !important;
}
.lh_yellow{
    @apply min-w-[12px] min-h-[12px] rounded-[3px] bg-lh-yellow-10;
    min-width: 0.75rem !important;
}
.lh_magenta{
    @apply min-w-[12px] min-h-[12px] rounded-[3px] bg-lh-magenta-10;
    min-width: 0.75rem !important;
}
.inprogress_deals_graph{
    @apply min-w-[12px] min-h-[12px] rounded-[3px] bg-lh-success-30;
    min-width: 0.75rem !important;
}
.close_deals_graph{
    @apply min-w-[12px] min-h-[12px] rounded-[3px] bg-lh-blue-10;
    min-width: 0.75rem !important;
}
.graph_title{
    @apply text-[0.75rem] font-normal text-lh-black;
    font-size: 0.75rem !important;
}



/*----====Reusable card presrts====----*/
.lh{
    &_card{
        /*----====Card wrapper====----*/
        &_wrapper{
            @apply w-full h-auto;

            /*----====Card justify baseline====----*/
            &_justify{
                &_baseline{
                    @apply flex items-baseline justify-between;
                }  
            }

            /*----====Card justify center====----*/
            &_justify{
                &_between{
                    @apply w-full h-auto flex items-center justify-between flex-wrap;
                }  
            }

            /*----====Card item center====----*/
            &_flex{
                &_center{
                    @apply w-auto h-auto flex items-center gap-[20px];
                }  
            }

            /*----====Card flex col====----*/
            &_flex{
                &_col{
                    @apply flex items-baseline flex-col gap-y-[20px];
                }  
            }
        }

        /*----====Card content====----*/
        &_content{
            @apply w-fit h-auto;

           
            &_grid{

                 /*----====Card content grid 1 row====----*/
                &_I{
                    @media (min-width: 768px){
                        grid-template-columns: repeat(3, 1fr);
                    }
                    @media (min-width: 1024px){
                        grid-template-columns: repeat(1, 1fr);
                    }
                    @apply w-full h-auto grid lg:grid-cols-1 gap-y-[20px];

                    li{
                        @apply w-full text-left flex items-center justify-start gap-x-[8px];

                        span{
                            @apply w-[7px] h-[7px] rounded-[2px];
                        }

                        p{
                            @apply text-[0.688rem] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];

                            span{
                                @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
                            }
                        }
                    }
                }

                /*----====Card content grid 2 row====----*/
                &_II{
                    @apply w-auto h-auto grid grid-cols-3 lg:grid-cols-2 gap-x-[20px] gap-y-[20px];

                    li{
                        @apply text-left flex items-center gap-x-[8px];

                        span{
                            @apply min-w-[7px] h-[7px] rounded-[2px];
                        }

                        p{
                            @apply text-[0.688rem] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];

                            span{
                                @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
                            }
                        }
                    }
                }

                /*----====Card content grid 3 row====----*/
                &_III{
                    @apply w-full h-auto grid grid-cols-3 gap-x-[20px] gap-y-[20px];

                    li{
                        @apply w-full text-left flex items-center justify-center gap-x-[6px];

                        span{
                            @apply w-[7px] h-[7px] rounded-[2px];
                        }

                        p{
                            @apply text-[0.688rem] leading-normal font-normal text-lh-black-20 flex items-start flex-col gap-y-[6px];

                            span{
                                @apply w-auto h-auto  text-[0.875rem] font-medium text-lh-black;
                            }
                        }
                    }
                }
            }
        }

        /*----====default card====----*/
        @apply p-[20px] rounded-[10px];

        /*----====White bg card with border====----*/
        &_light{
            &_shadow{
                @apply p-[15px] rounded-[10px] bg-lh-white grid grid-cols-2;
                box-shadow: 0 8px 26px rgba(20, 107, 255, 11%);
            }
        }
        
        /*----====White bg card with border====----*/
        &_light{
            &_b{
                @apply p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;
            }
        }

         /*----====White bg card with border & drop shadow====----*/
         &_light{
            &_b{
                &_shadow{
                    @apply p-[20px] rounded-[10px] bg-lh-white border border-solid border-lh-light-blue-30;
                    box-shadow: 0 4px 15px rgba(20, 107, 255, 8%);
                }
            }         
         }

        /*----====Light bg card without border====----*/
        &_light{
            @apply w-full p-[20px] rounded-[10px] bg-lh-white;
        }

        /*----====Dark bg card without border====----*/
        &_dark{
         @apply w-full p-[20px] rounded-[10px] bg-[url('../../assets/card-dark-bg.svg')] bg-cover;
        }
    }
}

/*----====Reusabe input field date with custom icon====----*/
.input{
    &_field{
        &_type{

            /*----====blue border with custom date icon input field====----*/
            &_b{
                &_dark{
                    @apply w-fit rounded-[6px] border border-solid border-lh-blue-400 px-[14px] py-[11px] text-[10px] font-normal text-lh-blue-400 bg-transparent outline-none; 

                    &::-webkit-calendar-picker-indicator{
                        @apply w-[18px] h-[18px] bg-[url('../../assets/date-icon-dark.svg')] bg-cover block;
                    }
    
                    &::placeholder{
                            @apply text-[10px] font-normal text-lh-blue-400;
                    }
                }

                /*----====white border with custom date icon input field====----*/
                &_light{
                    @apply w-fit rounded-[6px] border border-solid border-lh-white px-[14px] py-[11px] text-[0.625rem] font-normal text-white outline-none bg-transparent;
                    
                    &::-webkit-calendar-picker-indicator{
                        @apply w-[18px] h-[18px] bg-[url('../../assets/date-icon-light.svg')] bg-cover block;
                    }

                    &::placeholder{
                            @apply text-[0.625rem] font-normal text-lh-white;
                    }
                }
            }
        }
    }
}







