/* ----====font size 55px====----*/
.h1 {
  @apply text-[2.5rem] font-poppins lg:text-[3.438rem] leading-normal lg:leading-[65px] font-normal;
}

/* ----====font size 50px for banner====----*/
.h2 {
  @apply text-[2.5rem] lg:text-[3.125rem] font-medium leading-normal;
}

/* ----====font size 40px line-height 60px====----*/
.h3 {
  @apply text-[2rem] lg:text-[2.5rem] leading-normal lg:leading-[60px] font-medium;
}

/* ----====font size 34px====----*/
.h4 {
  @apply text-[2.125rem];
}

/* ----====font size 26px====----*/
.h5 {
  @apply text-[1.625rem];
}

/* ----====font size 20px====----*/
.h6 {
  @apply text-[1.25rem];
}

/* ----====font size 16px====----*/
.p {
  @apply text-[1rem] leading-normal font-normal;

  /* ----====paragraph black font size 16px====----*/
  &_black {
    @apply text-[1rem] leading-normal font-normal text-lh-black;
  }

  &_light {
    @apply text-[1rem] leading-normal font-normal text-lh-white;
  }
   /* ----====paragraph black font size 11px====----*/
  &_11{
    @apply text-[0.688rem] font-normal;
  }
}