/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/


.lh{
    &_merchant{
        &_reg{
            &_rate{
                @apply w-full pt-[161px] pb-[170px] bg-lh-white;

                .h3{
                    @apply text-[26px] font-semibold leading-normal text-center text-lh-blue-dark pb-[10px];
                }
                p{
                    @apply text-[16px] font-normal leading-normal text-center text-lh-black-20;
                }

                &_form{
                    @apply w-full flex flex-wrap gap-y-[40px] mt-[30px];
                }

                .inputtype_I{
                    @apply w-full min-w-full pt-[21px] pb-[22px] px-[22px] border border-solid border-lh-light-blue-30 rounded-[4px] text-[12px] leading-[11px] outline-none ;
                }
                input[type=checkbox]{
                    @apply border-[5px] border-solid border-lh-light-blue-30 outline-none rounded-[4px] w-[24px] h-[24px];
                }
                input[type=text]::placeholder{
                    @apply text-[11px] font-normal text-lh-light-blue-30;
                }
                input[type=date]::placeholder{
                    @apply text-[11px] font-normal text-lh-light-blue-30;
                }

                .label{
                    @apply relative top-[12px] px-[10px] left-[25px] text-lh-black-20 bg-lh-white;
                }
            }
        }

        &_copyright{
            @apply py-[55px] text-center bg-lh-black;

            &_para{
                @apply font-normal text-[16px] text-center text-lh-white;
            }
        }
    }
}

.merchant_reg_rate_container{
    @apply w-[858px] mx-auto;
}

.form{
    &_checkbox{
        &_group{
            @apply w-fit flex items-center gap-x-[13px];
        }
    }
}
.form{
    &_checkbox{
        &_filed{
            @apply flex gap-x-[8px] items-center;
        }
    }
}
.form{
    &_group{
        @apply w-full min-w-full flex gap-x-[20px] justify-between flex-wrap lg:flex-nowrap relative;

        p{
            @apply text-center;
        }
        
    }
}
.form_group_filed{
    @apply relative w-full;
}
.form{
    &_group{
        &_submit{
            @apply flex items-center gap-x-[20px];
        }
    }
}