

/* -----====form searchbar with button====-----*/
.lh{
    &_search{
        &_bar{
            @apply w-[349px] h-[50px] rounded-[50px] px-[20px] pt-[16px] pb-[17px] text-[16px] font-normal text-lh-blue-400 border border-solid border-lh-light-blue-30 outline-none relative;
        }

        &_btn{
            @apply w-[22px] h-[22px] top-[50%] translate-y-[-50%] right-[20px] absolute;
        }
    }
}

.input{
    &_field{
        &_type{
            &_I{
                @apply w-full md:w-[418px] rounded-[6px] border border-solid border-lh-light-blue-30 px-[22px] py-[21px] text-[14px] font-normal text-lh-black-20 outline-none; 
                &::placeholder{
                    @apply text-[14px] font-normal text-lh-black-20;
                }
            }
        }
    }
}