.lh {
  &_c {
    &_header {
      .container {
        @apply z-[9999] py-[20px];
      }
      &__row {
        @apply flex w-full items-center justify-between;
      }
      /*--mobile hamburger menu icon--*/
      #hamburger_menu {
        @apply z-40 block h-auto w-[35px] cursor-pointer lg:hidden;

        &.icon {
          .bar {
            @apply bg-white;
          }
          #bar1 {
            @apply translate-y-[9px] rotate-[-45deg];
          }
          #bar2 {
            @apply opacity-0;
          }
          #bar3 {
            @apply translate-y-[-11px] rotate-[45deg];
          }
        }
      }

      .bar {
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 2);
        @apply mt-[5px] block h-[5px] w-full rounded-[5px] bg-blue-900 first:mt-[0];

        #bar1 {
          @apply translate-y-[-4px];
        }

        #bar2 {
          @apply translate-y-[4px];
        }
      }

      .desktop_cta {
        @apply hidden lg:block;
      }

      .active_menu {
        @apply translate-x-[0];
      }
    }

    &_logo {
      @apply z-10 w-2/4 lg:w-2/12;
    }
  }
}

.lh_c_cta {
  @apply flex flex-row justify-center items-center;

  .lh_u_btn__simple {
    @apply text-white text-center text-[20px] mb-[30px];
  }

  .lh_u_btn__solid__icon {
    @apply text-[15px] px-[21px] py-[14px];
  }
}

.lh {
  &_u {
    &_btn {
      @apply px-1 py-3.5 inline-block transition-all ease-in-out  text-[15px] leading-5 hover:text-blue-400;
      &__rounded {
        @apply rounded-full;
      }
      &__solid {
        @apply bg-blue-600 text-white transition ease-in-out  hover:shadow-blue-400/80 hover:shadow-md hover:duration-500 hover:text-white text-[15px];
      }
    }
  }
}
