/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.lender{
  &_login{
    &_section{
      @apply w-full h-auto bg-lh-white flex items-center justify-start flex-col pt-[60px] pb-[152px];

      &__heading{
        @apply text-[26px] leading-normal font-semibold text-lh-blue-dark text-center pb-[10px] capitalize;
      }
      &__para{
        @apply text-[16px] text-lh-black-20 font-normal text-center;
      }
    }

          &_panel{
              @apply w-fit h-auto rounded-[10px] border border-solid border-lh-light-blue-30 mx-auto mt-[30px];
              box-shadow: 0 4px 15px rgba(20,107, 255, 8%);

              @media (max-width: 500px){
                @apply w-[90%];
              }

              &_btn{
                @apply w-full py-[20px] mt-[9px];
              }
          }

          &__form{
            @apply w-full py-[40px] px-[20px] md:p-[60px] flex items-center justify-center flex-col mx-auto gap-y-[30px];

            input[type='email']{
              @apply w-full md:w-[418px] rounded-[6px] border border-solid border-lh-light-blue-30 px-[22px] py-[21px] text-[14px] font-normal text-lh-black-20 outline-none; 
              &::placeholder{
                  @apply text-[14px] font-normal text-lh-black-20;
              }
            }

            input[type='password']{
              @apply w-full md:w-[418px] rounded-[6px] border border-solid border-lh-light-blue-30 px-[22px] py-[21px] text-[14px] font-normal text-lh-black-20 outline-none; 
              &::placeholder{
                  @apply text-[14px] font-normal text-lh-black-20;
              }
            }

            input[type='checkbox']{
              @apply w-[20px] h-[20px] rounded-[3px] border border-solid border-lh-light-blue-30;
            }
          }

        &_form{
          &_group{
            @apply w-full h-auto flex items-center gap-y-[20px] sm:justify-between gap-x-[15px] flex-wrap md:flex-nowrap;

          }
        }
      &_input{
        @apply flex items-center gap-x-[8px];
      }

      &_label{
        @apply text-[14px] font-normal text-lh-black-20;
      }

      &_pass{
        &_reset{
          @apply text-[14px] font-normal text-lh-blue-400 no-underline;
        }
      }
  }
}

.text_link{
  @apply text-[14px] font-semibold text-lh-blue-400 flex items-center gap-x-[10px] hover:gap-x-[14px];
  transition: .3s;
  svg{
    @apply fill-lh-blue-400 mt-[5px];
  }
  img{
    @apply w-[10px] h-auto bg-cover mt-[3px];
  }
}
.text_black{
  @apply text-[14px] font-normal text-lh-black;
}

.lh_copyright{
  @apply w-full bg-lh-black pt-[55px] pb-[54px];

  &_para{
    @apply text-center text-lh-white;
  }
}