.lh {
	/*----====lh global aside bar====----*/
	&_asidebar {
		@apply rounded-[10px] mt-[33px] bg-lh-light-blue-100 border border-solid border-lh-blue-200 p-[30px];

		&_title {
			@apply text-[20px] leading-[35px] font-semibold text-lh-black pb-[20px];
		}

		&_cat_list {
			@apply w-full list-none;

			&_item {
				@apply py-[22px] flex justify-between items-center border border-solid border-b-lh-light-blue-200 border-t-0 border-l-0 border-r-0 outline-none last:border-none last:pb-0 cursor-pointer transition duration-300 ease-out;

				&_para {
					@apply text-[16px] text-lh-black-light font-normal transition duration-300 ease-out;
				}

				&:hover p {
					@apply text-lh-blue-400;
				}

				&:hover img {
					@apply mr-0;
				}

				img {
					@apply mr-[10px] transition duration-1000 ease-out;
					transition: .2s ease-out;
				}
			}
		}
	}
	
	/*----====lh global subscribe section====----*/
	&_subscribe{
		@apply w-full py-[30px] pl-[35px] pr-[27px] bg-lh-white border border-solid border-lh-blue-light rounded-[7px] mt-[37px];

		&_heading {
			@apply text-[20px] font-semibold text-lh-black pb-[20px];
		}

		&_para {
			@apply text-[16px] leading-[24px] font-normal text-lh-black pb-[28px];
		}

		&_form{
			@apply w-full flex items-start justify-between gap-x-[18px];

			&__mail{
				@apply w-full h-[60px] border border-solid border-lh-blue-200 outline-none py-[20px] px-[20px] rounded-[7px] placeholder:text-lh-blue-350 placeholder:text-[13px];
			}

			&__submit{
				@apply bg-lh-blue-400 rounded-[7px] w-[68px] h-[60px] px-[20px] py-[18px];

				img {
					@apply w-[30px];
				}
			}
		}
	}
}
