.lh{
    &_search{
        &_result{
            @apply w-full py-[90px] mx-auto text-center flex justify-center items-center flex-col gap-y-[30px];

            p{
                @apply text-[20px] leading-normal text-lh-blue-dark text-center;
            }

            &_btn{
                @apply text-center mx-auto;
            }
        }
    }
}