.row {
	@apply flex flex-row;
}
/*----==global container width==----*/
.container {
	@apply w-[100%] px-[15px] lg:px-[15px] xl:px-[0px] lg:w-[95%] xl:w-[1136px] 2xl:w-[1300px] mx-auto;

	&_step{
		&_wrapper{
			@apply w-[100%] px-[15px] lg:px-[90px] xl:px-[96px] lg:w-[100%] xl:w-[1136px] mx-auto;
		}
	}
}
.lh {
	/*----==global bg image section==----*/
	&_icon {
		&_bg {
			background: url(/assets/shape-bg.svg) no-repeat;
			background-size: cover;
			background-position-y: 30px;

			/*----==global bg image section y top==----*/
			&_top {
				background: url(/assets/shape-bg.svg) no-repeat;
				@apply bg-auto lg:bg-cover;

				&_over{
					background: url(/assets/shape-bg.svg) no-repeat;
					background-size: cover;
					background-position-y: -50px;
				}
			}
		}
	}
	/*----==step section bg of process page==----*/
	&_step{
		&_icon {
			&_bg {
				background: url(/assets/shape-bg.svg) no-repeat;
				background-size: cover;
				background-position-y: 25vh;
			}
		}
	}

	&_step{
		&_icon {
			&_bg{
				&_top10vh {
					background: url(/assets/shape-bg.svg) no-repeat;
					background-size: cover;
					background-position-y: 15vh;
				}
			}
		}
	}

	&_step{
		&_last{
			&_icon{
				@apply relative;
			}
		}
	}
	/*----==global bg color==----*/
	&_light{
		&_blue500{
			@apply bg-lh-dark-blue-500;
		}
	}
	&_dark{
		&_blue{
			@apply bg-lh-dark-blue-900;
		}
	}
	&_gradient{
		&_top{
			background: linear-gradient(180deg, #E5F8FF 0%, #FFFFFF 100%);
		}
	}
	&_menu{
		&_dropdown{
			box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.12);
		}
	}
	/*----==global box shadow used on solution page==----*/
	&_shadow{
		&_light{
			box-shadow: 0px 17px 64px rgba(75, 177, 247, 0.24);
		}
		&_light{
			&_mid{
				box-shadow: 0px 17px 64px 0px rgba(75, 177, 247, 0.24);
			}
		}
		&_dark{
			box-shadow: 0px 5px 40px rgba(7, 55, 126, 0.28);
		}
		&_medium{
			box-shadow: 0px 54px 110px rgba(14, 176, 240, 0.17);
		}
		&_blue{
			&_200{
				box-shadow: 0px 20px 56px rgba(0, 61, 166, 10%);
			}
		}
		&_blue{
			&_300{
				box-shadow: 0px 4px 25px rgba(20, 107, 255, 0.1);
			}
		}
		&_blue{
			&_350{
				box-shadow: 0px 4px 25px rgba(20, 107, 255, 0.2);
			}
		}
		&_blue{
			&_370{
				box-shadow: 0px 4px 25px rgba(20, 107, 255, 10%);
			}
		}
		&_blue{
			&_380{
				box-shadow: 0px 18px 50px rgba(20, 107, 255, 15%);
			}
		}
		&_blue{
			&_390{
				box-shadow: 0px 4px 35px rgba(20, 107, 255, 10%);
			}
		}
		&_blue{
			&_400{
			box-shadow: 28px 28px 44px rgba(7, 184, 255, 14%);	
			}
		}
		&_blue{
			&_450{
			box-shadow: 0px 54px 110px rgba(14, 176, 240, 17%);	
			}
		}
		&_blue{
			&_500{
			box-shadow: 0 12px 75px rgba(75, 177, 247, 24%);	
			}
		}
		&_blue{
			&_550{
			box-shadow: 0 12px 75px rgba(2, 167, 233, 25%);	
			}
		}
		&_blue{
			&_600{
			box-shadow: 0 12px 75px rgba(2, 167, 233, 15%);	
			}
		}
	}
	
	/*----==global right none==----*/
	&_mr{
		&_none{
			@apply mr-0;
		}
	}

	&_hide{
		&_desktop{
			@apply block lg:hidden;
		}
	}
	/*----==global sedule para==----*/
	&_sedule{
		&_para{
			&_dark{
				@apply text-[16px] leading-[27px] font-normal text-lh-black-350 text-center pt-[17px];
			}
		}

		&_link{
			@apply text-[16px] font-bold text-lh-blue-400 underline;
		}
	}
}